In [1]:
import pandas as pd
import numpy as np
from functools import reduce

# Reading different states gdp data
AndhraPradesh1   = pd.read_csv('data/gdp/gdp_AndhraPradesh1.csv' , encoding = 'utf-8')
AndhraPradesh2   = pd.read_csv('data/gdp/gdp_AndhraPradesh2.csv' , encoding = 'utf-8')
ArunachalPradesh1= pd.read_csv('data/gdp/gdp_ArunachalPradesh.csv' , encoding = 'utf-8')
Assam1           = pd.read_csv('data/gdp/gdp_Assam1.csv' , encoding = 'utf-8')
Assam2           = pd.read_csv('data/gdp/gdp_Assam2.csv' , encoding = 'utf-8')
Bihar1           = pd.read_csv('data/gdp/gdp_Bihar1.csv' , encoding = 'utf-8')
Bihar2           = pd.read_csv('data/gdp/gdp_Bihar2.csv' , encoding = 'utf-8')
Chattisgarh1     = pd.read_csv('data/gdp/gdp_Chattisgarh.csv' , encoding = 'utf-8')
Haryana1         = pd.read_csv('data/gdp/gdp_Haryana.csv' , encoding = 'utf-8')
HimachalPradesh1 = pd.read_csv('data/gdp/gdp_HimachalPradesh.csv' , encoding = 'utf-8')
Jharkhand1       = pd.read_csv('data/gdp/gdp_Jharkhand.csv' , encoding = 'utf-8')
Karnataka1       = pd.read_csv('data/gdp/gdp_Karnataka1.csv' , encoding = 'utf-8')
Karnataka2       = pd.read_csv('data/gdp/gdp_Karnataka2.csv' , encoding = 'utf-8')
Kerala1          = pd.read_csv('data/gdp/gdp_Kerala1.csv' , encoding = 'utf-8')
Kerala2          = pd.read_csv('data/gdp/gdp_Kerala2.csv' , encoding = 'utf-8')
MadhyaPradesh1   = pd.read_csv('data/gdp/gdp_MadhyaPradesh.csv' , encoding = 'utf-8')
Maharashtra1     = pd.read_csv('data/gdp/gdp_Maharashtra1.csv' , encoding = 'utf-8')
Maharashtra2     = pd.read_csv('data/gdp/gdp_Maharashtra2.csv' , encoding = 'utf-8')
Manipur1         = pd.read_csv('data/gdp/gdp_Manipur.csv' , encoding = 'utf-8')
Meghalaya1       = pd.read_csv('data/gdp/gdp_Meghalaya.csv' , encoding = 'utf-8')
Mizoram1         = pd.read_csv('data/gdp/gdp_Mizoram.csv' , encoding = 'utf-8')
Odisha1          = pd.read_csv('data/gdp/gdp_Odisha1.csv' , encoding = 'utf-8')
Odisha2          = pd.read_csv('data/gdp/gdp_Odisha2.csv' , encoding = 'utf-8')
Punjab1          = pd.read_csv('data/gdp/gdp_Punjab1.csv' , encoding = 'utf-8')
Punjab2          = pd.read_csv('data/gdp/gdp_Punjab2.csv' , encoding = 'utf-8')
Rajasthan1       = pd.read_csv('data/gdp/gdp_Rajasthan1.csv' , encoding = 'utf-8')
Rajasthan2       = pd.read_csv('data/gdp/gdp_Rajasthan2.csv' , encoding = 'utf-8')
Sikkim1          = pd.read_csv('data/gdp/gdp_Sikkim.csv' , encoding = 'utf-8')
Tamilnadu1       = pd.read_csv('data/gdp/gdp_Tamilnadu.csv' , encoding = 'utf-8')
Uttarakhand1     = pd.read_csv('data/gdp/gdp_Uttarakhand.csv' , encoding = 'utf-8')
UttarPradesh1    = pd.read_csv('data/gdp/gdp_UttarPradesh1.csv' , encoding = 'utf-8')
UttarPradesh2    = pd.read_csv('data/gdp/gdp_UttarPradesh2.csv' , encoding = 'utf-8')
WestBengal1      = pd.read_csv('data/gdp/gdp_WestBengal1.csv' , encoding = 'utf-8')
WestBengal2      = pd.read_csv('data/gdp/gdp_WestBengal2.csv' , encoding = 'utf-8')

# Manipulating GDP data

In [2]:
# Function to append two gdp csv file
def appendGdp(state1,state2):
    state1 =  state1.rename(columns=lambda x: x.strip())
    state2 =  state2.rename(columns=lambda x: x.strip())
    state  =  state1.append(state2,sort=False)[state1.columns.tolist()].reset_index()
    state  =  state.drop(columns=['index'], axis = 0)
    return state

# Function to change column header of gdp dataframe
def changeGdp(stateName):
    stateName         = stateName.rename(columns=lambda x: x.strip())
    stateName         = stateName.transpose().reset_index()
    stateName.columns = stateName.iloc[1] + '|' + stateName.iloc[0]
    stateName         = stateName.rename(columns={'Description|Year':'District'})
    stateName         = stateName.drop([0, 1])
    return stateName

# Manupulating different states gdp data
AndhraPradesh = appendGdp(AndhraPradesh1 ,AndhraPradesh2)
AndhraPradesh = AndhraPradesh.drop([5,6,7,8,14,15,16])
AndhraPradesh = changeGdp(AndhraPradesh)
AndhraPradesh.insert(0,'State','ANDHRA PRADESH')

ArunachalPradesh = changeGdp(ArunachalPradesh1)
ArunachalPradesh.insert(0,'State','ARUNACHAL PRADESH')

Assam         = appendGdp(Assam1,Assam2)
Assam         = changeGdp(Assam)
Assam.insert(0,'State','ASSAM')

Bihar         = appendGdp(Bihar1,Bihar2)
Bihar         = Bihar.drop([5])
Bihar         = changeGdp(Bihar)
Bihar.insert(0,'State','BIHAR')

Chattisgarh = changeGdp(Chattisgarh1)
Chattisgarh.insert(0,'State','CHATTISGARH')


Haryana     =  changeGdp(Haryana1)
Haryana.insert(0,'State','HARYANA')

HimachalPradesh = changeGdp(HimachalPradesh1)
HimachalPradesh.insert(0,'State','HIMACHAL PRADESH')

Jharkhand    = changeGdp(Jharkhand1)
Jharkhand.insert(0,'State','JHARKHAND')

Karnataka   = appendGdp(Karnataka1,Karnataka2)
Karnataka   = changeGdp(Karnataka)
Karnataka.insert(0,'State','KARNATAKA')

Kerala      =  appendGdp(Kerala1,Kerala2)
Kerala      = Kerala.drop([6,7,14])
Kerala      = changeGdp(Kerala)
Kerala.insert(0,'State','KERALA')

MadhyaPradesh = changeGdp(MadhyaPradesh1)
MadhyaPradesh.insert(0,'State','MADHYA PRADESH')

Maharashtra  = appendGdp(Maharashtra1,Maharashtra2)
Maharashtra  = Maharashtra.drop([6,7,14])
Maharashtra  = changeGdp(Maharashtra)
Maharashtra.insert(0,'State','MAHARASHTRA')

Manipur      = changeGdp(Manipur1)
Manipur.insert(0,'State','MANIPUR')

Meghalaya    = changeGdp(Meghalaya1)
Meghalaya.insert(0,'State','MEGHALAYA')

Mizoram     = changeGdp(Mizoram1)
Mizoram.insert(0,'State','MIZORAM')

Odisha      = appendGdp(Odisha1,Odisha2)
Odisha      = Odisha.drop([5,6,7,13,14])
Odisha      = changeGdp(Odisha)
Odisha.insert(0,'State','ODISHA')

Punjab      = appendGdp(Punjab1,Punjab2)
Punjab      = Punjab.drop([5,6,12])
Punjab      = changeGdp(Punjab)
Punjab.insert(0,'State','PUNJAB')

Rajasthan   = appendGdp(Rajasthan1,Rajasthan2)
Rajasthan   = Rajasthan.drop([5,6,12])
Rajasthan   = changeGdp(Rajasthan)
Rajasthan.insert(0,'State','RAJASTHAN')

Sikkim      = changeGdp(Sikkim1)
Sikkim.insert(0,'State','SIKKIM')

Tamilnadu   = changeGdp(Tamilnadu1)
Tamilnadu.insert(0,'State','TAMIL NADU')

Uttarakhand = changeGdp(Uttarakhand1)
Uttarakhand.insert(0,'State','UTTARAKHAND')

UttarPradesh = appendGdp(UttarPradesh1,UttarPradesh2)
UttarPradesh = UttarPradesh.drop([5,6,12])
UttarPradesh = changeGdp(UttarPradesh)
UttarPradesh.insert(0,'State','UTTAR PRADESH')

WestBengal  = appendGdp(WestBengal1,WestBengal2)
WestBengal  = WestBengal.drop([5,6,7,13,14])
WestBengal  = changeGdp(WestBengal)
WestBengal.insert(0,'State','WEST BENGAL')

# Appending all the states into single dataframe
dataGDP = AndhraPradesh.append([ArunachalPradesh,Assam,Bihar,Chattisgarh,Haryana,HimachalPradesh,Jharkhand,Karnataka,
          Kerala,MadhyaPradesh,Maharashtra,Manipur,Meghalaya,Mizoram,Odisha,Punjab,Rajasthan,Sikkim,Tamilnadu,Uttarakhand,
          UttarPradesh,WestBengal],sort=False)
dataGDP['District'] = dataGDP['District'].str.title()

# GDP data from 1999-2013

In [3]:
dataGDP.head()

,State,District,GDP (in Rs. Cr.)|1999-00,GDP (in Rs. Cr.)|2000-01,GDP (in Rs. Cr.)|2001-02,GDP (in Rs. Cr.)|2002-03,GDP (in Rs. Cr.)|2003-04,Growth Rate % (YoY)|2000-01,Growth Rate % (YoY)|2001-02,Growth Rate % (YoY)|2002-03,...,GDP (in Rs. Cr.)|2011-12,GDP (in Rs. Cr.)|2012-13,Growth Rate % (YoY)|2005-06,Growth Rate % (YoY)|2006-07,Growth Rate % (YoY)|2007-08,Growth Rate % (YoY)|2008-09,Growth Rate % (YoY)|2009-10,Growth Rate % (YoY)|2010-11,Growth Rate % (YoY)|2011-12,Growth Rate % (YoY)|2012-13
2,ANDHRA PRADESH,Adilabad,3463.28,3742.69,4209.4,4099.29,4781.85,8.06779,12.4699,-2.61581,...,10567,11111,4.37953,12.2923,8.70119,12.3349,1.83755,4.70885,6.07308,5.1481
3,ANDHRA PRADESH,Anantapur,4728.59,6497.7,5726.9,5728.86,6083.64,37.4131,-11.8627,0.0342244,...,15799,16563,3.42002,4.96751,26.969,-0.309776,6.05074,9.31865,6.80051,4.83575
4,ANDHRA PRADESH,Chittoor,5395.57,6223.34,6679.35,6490.28,7100.34,15.3417,7.32742,-2.83066,...,15423,16144,11.4691,5.6527,13.5042,3.57815,2.76865,14.0583,5.02554,4.67484
5,ANDHRA PRADESH,Godavari East,9507.67,9664.92,10293.7,10774.7,11955.3,1.65393,6.50621,4.67216,...,22984,24317,-6.16603,13.701,10.7056,7.04387,3.05171,-3.04967,5.2381,5.79969
6,ANDHRA PRADESH,Godavari West,7398,7679.4,7581.59,8157.23,9285.8,3.80373,-1.27367,7.5926,...,18931,20248,-2.36288,5.3593,16.9764,-5.14415,8.75622,16.3845,3.13811,6.95684

# Methods

In [4]:
# Geo code and geo level
geography = pd.read_csv('data/geography.csv',encoding='UTF-8')
geo = geography[['geo_level','geo_code','name']]

# Calculating country data
def setCountryData(df,cols):
    for x in cols:
         df.loc[df['geo_level'] == 'country', x]= df.loc[df['geo_level'] == 'state', x].sum()
    return df;


# Calculating census data
def getCensusData(df,year):
    cols = list(df.columns.values)[3:]
    df.insert(2,'geo_version','2011')
    df.insert(3,'gdpyear',year)
    df = df.rename(index=str, columns={cols[0]: 'total'})
    df['total'] = df['total'].astype(int)
    df = df.sort_values(by=['gdpyear','geo_level','name']).reset_index().drop(['index'],axis=1).drop(['name'],axis=1)
    return  df

# Calculating geographic data
def getGdpData(df,year):
    cols = list(df.columns.values)[2:]
    df = df.replace(',','',regex=True)
    df[cols] = df[cols].astype(float)
    df = df.rename(index=str, columns={'State': 'name'})
    dfState = df.groupby(['name'])[cols].sum().reset_index()
   
    dfDis   = df.groupby(['District'])[cols].sum().reset_index()
    dfDis   = dfDis.rename(index=str, columns={'District': 'name'})
    dfDis['name'] = dfDis['name'].str.title()
    
    dfCom = pd.concat([dfState, dfDis])
    dfgeo = geo.merge(dfCom ,on=['name'],how='left')
    dfgeo = dfgeo.sort_values(by=['geo_level','name'])
    dfgeo = dfgeo.fillna(method = 'bfill', axis=0).fillna(0)
    dfgeoCountry = setCountryData(dfgeo,cols)
    gdp   = getCensusData(dfgeoCountry,year)
    return gdp

# GDP timeseries

In [5]:
gdp2001     = dataGDP[['State','District','GDP (in Rs. Cr.)|2001-02']]
gdp2002     = dataGDP[['State','District','GDP (in Rs. Cr.)|2002-03']]
gdp2003     = dataGDP[['State','District','GDP (in Rs. Cr.)|2003-04']]
gdp2004     = dataGDP[['State','District','GDP (in Rs. Cr.)|2004-05']]
gdp2005     = dataGDP[['State','District','GDP (in Rs. Cr.)|2005-06']]
gdp2006     = dataGDP[['State','District','GDP (in Rs. Cr.)|2006-07']]
gdp2007     = dataGDP[['State','District','GDP (in Rs. Cr.)|2007-08']]
gdp2008     = dataGDP[['State','District','GDP (in Rs. Cr.)|2008-09']]
gdp2009     = dataGDP[['State','District','GDP (in Rs. Cr.)|2009-10']]
gdp2010     = dataGDP[['State','District','GDP (in Rs. Cr.)|2010-11']]
gdp2011     = dataGDP[['State','District','GDP (in Rs. Cr.)|2011-12']]
gdp2012     = dataGDP[['State','District','GDP (in Rs. Cr.)|2012-13']]



gdpwazi2001 = getGdpData(gdp2001,'2001')
def getDefaultGdpData(year):
    gdpdefault =  gdpwazi2001.copy(deep=True)
    gdpdefault['total'] = 0
    gdpdefault['gdpyear'] = year
    return gdpdefault

gdpwazi2002 = getGdpData(gdp2002,'2002')
gdpwazi2003 = getGdpData(gdp2003,'2003')
gdpwazi2004 = getGdpData(gdp2004,'2004')
gdpwazi2005 = getGdpData(gdp2005,'2005')
gdpwazi2006 = getGdpData(gdp2006,'2006')
gdpwazi2007 = getGdpData(gdp2007,'2007')
gdpwazi2008 = getGdpData(gdp2008,'2008')
gdpwazi2009 = getGdpData(gdp2009,'2009')
gdpwazi2010 = getGdpData(gdp2010,'2010')
gdpwazi2011 = getGdpData(gdp2011,'2011')
gdpwazi2012 = getGdpData(gdp2012,'2012')
gdpwazi2013 = getDefaultGdpData('2013')
gdpwazi2014 = getDefaultGdpData('2014')
gdpwazi2015 = getDefaultGdpData('2015')
gdpwazi2016 = getDefaultGdpData('2016')
gdpwazi2017 = getDefaultGdpData('2017')


datagdpwazi = pd.concat([gdpwazi2001,gdpwazi2002,gdpwazi2003,gdpwazi2004,gdpwazi2005,gdpwazi2006,gdpwazi2007,gdpwazi2008,gdpwazi2009,gdpwazi2010,gdpwazi2011,gdpwazi2012,gdpwazi2013,gdpwazi2014,gdpwazi2015,gdpwazi2016,gdpwazi2017],sort=False)
datagdpwazi.head()
#datagdpwazi.to_csv('data/gdp_timeseries_2001_17.csv', index=False)

  geo_level geo_code geo_version gdpyear    total
0   country       IN        2011    2001  2688631
1  district      532        2011    2001     4209
2  district      146        2011    2001     4597
3  district      474        2011    2001      757
4  district      522        2011    2001      757

# Manipulating gdp for single year

In [6]:
def getgdpcsvfile(df,year):
    df = df
    
    return df

x = getgdpcsvfile(gdpwazi2001,'2001')
x

    geo_level geo_code geo_version gdpyear    total
0     country       IN        2011    2001  2688631
1    district      532        2011    2001     4209
2    district      146        2011    2001     4597
3    district      474        2011    2001      757
4    district      522        2011    2001      757
5    district      283        2011    2001      757
6    district      119        2011    2001     3773
7    district      501        2011    2001     2934
8    district      598        2011    2001     4893
9    district      143        2011    2001     3719
10   district      465        2011    2001     5539
11   district      175        2011    2001     5539
12   district       64        2011    2001      839
13   district      104        2011    2001     5121
14   district       70        2011    2001     3274
15   district      178        2011    2001     1465
16   district      503        2011    2001     4754
17   district      480        2011    2001     8377
18   district       49        2011    2001     8377
19   district      482        2011    2001     5726
20   district      553        2011    2001     5726
21   district       14        2011    2001      930
22   district      260        2011    2001      930
23   district      384        2011    2001      930
24   district      461        2011    2001      930
25   district      209        2011    2001      930
26   district      616        2011    2001      282
27   district      240        2011    2001      282
28   district      459        2011    2001     7424
29   district      162        2011    2001     7424
..        ...      ...         ...     ...      ...
647     state       22        2011    2001    59850
648     state       26        2011    2001    59850
649     state       25        2011    2001    59850
650     state       30        2011    2001    59850
651     state       24        2011    2001    59850
652     state        6        2011    2001    59850
653     state        2        2011    2001    15786
654     state        1        2011    2001    33042
655     state       20        2011    2001    33042
656     state       29        2011    2001   106303
657     state       32        2011    2001    75308
658     state       31        2011    2001    79891
659     state       23        2011    2001    79891
660     state       27        2011    2001   253072
661     state       14        2011    2001     3260
662     state       17        2011    2001     4033
663     state       15        2011    2001     1753
664     state       13        2011    2001    45071
665     state        7        2011    2001    45071
666     state       21        2011    2001    45071
667     state       34        2011    2001    71173
668     state        3        2011    2001    71173
669     state        8        2011    2001    89868
670     state       11        2011    2001     1040
671     state       33        2011    2001   139790
672     state       36        2011    2001   183077
673     state       16        2011    2001   183077
674     state        9        2011    2001   183077
675     state        5        2011    2001    14922
676     state       19        2011    2001   133737

[677 rows x 5 columns]