In [17]:
import pandas as pd
from pandas_highcharts.core import serialize
from pandas_highcharts.display import display_charts
from IPython.display import display
import numpy as np
#from functools import reduce
#pd.options.display.max_columns = None
from highcharts import Highmap,Highchart
from highcharts.highmaps.highmap_helper  import jsonp_loader, js_map_loader, geojson_handler
# Reading csv data
datapca2011    = pd.read_csv('data/census/census_2011.csv', encoding='utf-8')
#dataDis2011     = pd.read_csv('data/census/india-districts-census-2011.csv', encoding='utf-8')
dataElemSchool  = pd.read_csv('data/school/csv/elementary_2015_16.csv',encoding='utf-8')

# India pca data 2011

In [18]:
datapca2011.head()

,LEVEL,YEAR,NAME,AREA,NO_HH,TOT_P,TOT_M,TOT_F,P_06,M_06,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
0,STATE,2011,WEST BENGAL,Urban,6567150.0,29093002.0,14964082.0,14128920.0,2760756.0,1417741.0,...,8279.0,44190.0,13612.0,30578.0,180743.0,115543.0,65200.0,18419128.0,6459215.0,11959913.0
1,STATE,2011,WEST BENGAL,Rural,13813165.0,62183113.0,31844945.0,30338168.0,7820710.0,3992655.0,...,483205.0,187334.0,41602.0,145732.0,375722.0,204723.0,170999.0,38100632.0,13633765.0,24466867.0
2,STATE,2011,UTTARAKHAND,Urban,631889.0,3049338.0,1618731.0,1430607.0,365038.0,195407.0,...,602.0,1408.0,580.0,828.0,11764.0,8361.0,3403.0,2062596.0,793484.0,1269112.0
3,STATE,2011,UTTARAKHAND,Rural,1425086.0,7036954.0,3519042.0,3517912.0,990776.0,521792.0,...,17756.0,7560.0,2866.0,4694.0,37193.0,22950.0,14243.0,4151421.0,1792368.0,2359053.0
4,STATE,2011,UTTAR PRADESH,Urban,7762093.0,44495063.0,23487515.0,21007548.0,5750748.0,3049986.0,...,21253.0,54533.0,27692.0,26841.0,245102.0,183465.0,61637.0,30631328.0,11993632.0,18637696.0

# India pca 2011 state data

In [19]:
datapcastate2011 = datapca2011.loc[datapca2011['LEVEL'] == 'STATE']
datapcastate2011.head()

,LEVEL,YEAR,NAME,AREA,NO_HH,TOT_P,TOT_M,TOT_F,P_06,M_06,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
0,STATE,2011,WEST BENGAL,Urban,6567150.0,29093002.0,14964082.0,14128920.0,2760756.0,1417741.0,...,8279.0,44190.0,13612.0,30578.0,180743.0,115543.0,65200.0,18419128.0,6459215.0,11959913.0
1,STATE,2011,WEST BENGAL,Rural,13813165.0,62183113.0,31844945.0,30338168.0,7820710.0,3992655.0,...,483205.0,187334.0,41602.0,145732.0,375722.0,204723.0,170999.0,38100632.0,13633765.0,24466867.0
2,STATE,2011,UTTARAKHAND,Urban,631889.0,3049338.0,1618731.0,1430607.0,365038.0,195407.0,...,602.0,1408.0,580.0,828.0,11764.0,8361.0,3403.0,2062596.0,793484.0,1269112.0
3,STATE,2011,UTTARAKHAND,Rural,1425086.0,7036954.0,3519042.0,3517912.0,990776.0,521792.0,...,17756.0,7560.0,2866.0,4694.0,37193.0,22950.0,14243.0,4151421.0,1792368.0,2359053.0
4,STATE,2011,UTTAR PRADESH,Urban,7762093.0,44495063.0,23487515.0,21007548.0,5750748.0,3049986.0,...,21253.0,54533.0,27692.0,26841.0,245102.0,183465.0,61637.0,30631328.0,11993632.0,18637696.0

# India elementary school data

In [24]:
dataElemSchool.head()

,STATE NAME,DISTRICT NAME,YEAR,DISTRICTS (DISTRICTS),BLOCKS (BLOCKS),VILLAGES (VILLAGES),CLUSTERS (CLUSTERS),TOTAL POPULATION(IN 1000'S) (TOTPOPULAT),PERCENTAGE URBAN POPULATION (P_URB_POP),PERCENTAGE POPULATION OF AGE GROUP 0-6 (POPULATION_0_6),...,ALL (UUNI_ALL),SC (UUNI_SC),ST (UUNI_ST),CLASSROOMS (TOTCLS1G),CLASSROOMS (TOTCLS2G),CLASSROOMS (TOTCLS3G),CLASSROOMS (TOTCLS4G),CLASSROOMS (TOTCLS5G),CLASSROOMS (TOTCLS6G),CLASSROOMS (TOTCLS7G)
0,JAMMU & KASHMIR,KUPWARA,2015,1,13,391,104,875564.0,11.33,197001.90,...,21322,26,2594,3489,5315,27,62,23,852,239
1,JAMMU & KASHMIR,BARAMULA,2015,1,18,678,144,1015503.0,17.19,161871.18,...,17307,0,1571,4127,5800,210,53,30,1665,360
2,JAMMU & KASHMIR,SRINAGAR,2015,1,8,94,65,1269751.0,98.73,155798.45,...,5444,31,408,817,3284,886,11,0,2873,40
3,JAMMU & KASHMIR,BADGAM,2015,1,13,523,104,735753.0,11.74,150755.79,...,12469,18,857,2290,3837,119,45,8,1035,325
4,JAMMU & KASHMIR,PULWAMA,2015,1,8,359,64,570060.0,13.80,97651.28,...,7408,17,855,1688,2584,151,67,5,1101,209