# India Primary Health Care

In [42]:
import pandas as pd
import numpy as np
from functools import reduce
# Read health care csv file
AlloDocPHCS        = pd.read_csv('data/health/allo-doc-PHCS.csv', encoding='utf-8')
DisSubdisDoc       = pd.read_csv('data/health/dis-subdis-doctors.csv', encoding='utf-8')
PhysicianCHCS      = pd.read_csv('data/health/physician-CHCS.csv', encoding='utf-8')
SurgeonCHCS        = pd.read_csv('data/health/surgeons-CHCS.csv', encoding='utf-8')
FunctioningPHCS    = pd.read_csv('data/health/year-wise-PHCS.csv', encoding='utf-8')
FunctioningCHCS    = pd.read_csv('data/health/year-wise-CHCS.csv', encoding='utf-8')
FunctioningSubcen  = pd.read_csv('data/health/year-wise-Subcentre.csv', encoding='utf-8')
WorkerMaleSubCen   = pd.read_csv('data/health/worker-male-subcen.csv', encoding='utf-8')
WorkerFemaleSubCen = pd.read_csv('data/health/worker-female-subcen.csv', encoding='utf-8')
AssisMalePHCS      = pd.read_csv('data/health/assistant-male-PHCS.csv', encoding='utf-8')
AssisFemalePHCS    = pd.read_csv('data/health/assistant-female-PHCS.csv', encoding='utf-8')
NurseStaffPHCCHC   = pd.read_csv('data/health/nursing-staff-PHCS-CHCS.csv', encoding='utf-8')
FacilitiesCHCS     = pd.read_csv('data/health/facilities-CHCS.csv', encoding='utf-8')
FacilitiesPHCS     = pd.read_csv('data/health/facilities-PHCS.csv', encoding='utf-8')
RadiographerCHCS   = pd.read_csv('data/health/radiographers-CHCS.csv', encoding='utf-8')
VillageCovered     = pd.read_csv('data/health/villg-coveredby-centre.csv', encoding='utf-8')
AreaCovered        = pd.read_csv('data/health/rural-area-covered-centre.csv', encoding='utf-8')
InfantMorRate      = pd.read_csv('data/health/infant-mortality-rate.csv', encoding='utf-8')
RuralPopCovered    = pd.read_csv('data/health/rural-population-centre.csv', encoding='utf-8')
PharmacistPHCCHC   = pd.read_csv('data/health/pharmacists-PHCS-CHCS.csv', encoding='utf-8')
# District wise health care centres
DWHealthCareCen    = pd.read_csv('data/health/dw-healthcare-centres.csv', encoding='utf-8')

# Rural  area covered by centres

In [43]:
colsArea = list(AreaCovered.columns.values)[1:]
AreaCovereddf = AreaCovered[colsArea]
AreaCovereddf = AreaCovereddf.rename(index=str, columns={'Average Rural Area [Sq. Km.] covered by a sub Centre':'Rural_Area[Sq. Km.]_Sub Centre','Average Rural Area [Sq. Km.] covered by a PHC':'Rural_AreaArea[Sq. Km.]_PHCS','Average Rural Area [Sq. Km.] covered by a CHC':'Rural_AreaArea[Sq. Km.]_CHCS','Average Radial Distance [Kms] covered by a sub Centre':'Rural_Rdistance[Kms]_Sub Centre','Average Radial Distance [Kms] covered by a PHC':'Rural_Rdistance[Kms]_PHCS','Average Radial Distance [Kms] covered by a CHC':'Rural_Rdistance[Kms]_CHCS'})
AreaCovereddf = AreaCovereddf.round()
AreaCovereddf.head()

,State/ UT,Rural_Area[Sq. Km.]_Sub Centre,Rural_AreaArea[Sq. Km.]_PHCS,Rural_AreaArea[Sq. Km.]_CHCS,Rural_Rdistance[Kms]_Sub Centre,Rural_Rdistance[Kms]_PHCS,Rural_Rdistance[Kms]_CHCS
0,Andhra Pradesh,21.0,138.0,823.0,3.0,7.0,16.0
1,Arunachal Pradesh,NaN,NaN,NaN,NaN,NaN,NaN
2,Assam,7.0,31.0,200.0,1.0,3.0,8.0
3,Bihar,9.0,48.0,612.0,2.0,4.0,14.0
4,Chhattisgarh,25.0,168.0,781.0,3.0,7.0,16.0

# Villages covered by centres

In [44]:
VillageCovereddf = VillageCovered[['State/ UT','Average Number of Villages covered by a sub Centre','Average Number of Villages covered by a PHC','Average Number of Villages covered by a CHC']]
VillageCovereddf = VillageCovereddf.rename(index=str, columns={'Average Number of Villages covered by a sub Centre':'Villages Covered_Sub Centre','Average Number of Villages covered by a PHC':'Villages Covered_PHCS','Average Number of Villages covered by a CHC':'Villages Covered_CHCS'})
VillageCovereddf.head()

,State/ UT,Villages Covered_Sub Centre,Villages Covered_PHCS,Villages Covered_CHCS
0,Andhra Pradesh,2,15,88.0
1,Arunachal Pradesh,18,39,89.0
2,Assam,6,26,167.0
3,Bihar,5,24,299.0
4,Chhattisgarh,4,26,119.0

# Rural population covered by centres

In [45]:
colsPop = list(RuralPopCovered.columns.values)[1:]
RuralPopCovereddf = RuralPopCovered[colsPop]
RuralPopCovereddf.columns = RuralPopCovereddf.columns.str.split(']').str[1].str.strip()
RuralPopCovereddf = RuralPopCovereddf.rename(index=str, columns={np.nan:'State/ UT','covered by a Sub Centre':'PopulationR_Covered_Sub Centre','covered by a PHC':'PopulationR_Covered_PHCS','covered by a CHC':'PopulationR_Covered_CHCS'})
RuralPopCovereddf.head()

,State/ UT,PopulationR_Covered_Sub Centre,PopulationR_Covered_PHCS,PopulationR_Covered_CHCS
0,Andhra Pradesh,4663,30319,180189.0
1,Arunachal Pradesh,3418,7457,16926.0
2,Assam,5801,26437,169665.0
3,Bihar,9281,48626,615610.0
4,Chhattisgarh,3781,24978,116023.0

# Allopathic doctors in PHCs

In [46]:
AlloDocPHCSdf = AlloDocPHCS[['State/ UT','Required - [R]','In Position - [P]']]
AlloDocPHCSdf = AlloDocPHCSdf.rename(index=str, columns={'Required - [R]': 'Allopathic doctor_PHCS_Required','In Position - [P]':'Allopathic doctor_PHCS_Available'})
AlloDocPHCSdf.head()

,State/ UT,Allopathic doctor_PHCS_Required,Allopathic doctor_PHCS_Available
0,Andhra Pradesh,1147,1644
1,Arunachal Pradesh,143,122
2,Assam,1014,1048
3,Bihar,1899,1786
4,Chhattisgarh,785,341

# Dis and sub-dis doctors

In [47]:
DisSubdisDocdf = DisSubdisDoc[['State/ UT','District Hospital - In Position','Sub District/ Sub Divisional Hospital - In Position']]
DisSubdisDocdf = DisSubdisDocdf.rename(index=str, columns={'District Hospital - In Position': 'Doctors_District Hospital','Sub District/ Sub Divisional Hospital - In Position':'Doctors_Sub District Hospital'})
DisSubdisDocdf.head()

           State/ UT  Doctors_District Hospital  Doctors_Sub District Hospital
0     Andhra Pradesh                      306.0                          459.0
1  Arunachal Pradesh                      381.0                            NaN
2              Assam                      655.0                          127.0
3              Bihar                      558.0                          287.0
4       Chhattisgarh                      581.0                           70.0

# Physicians in CHCs

In [48]:
PhysicianCHCSdf = PhysicianCHCS[['State/ UT','Required - [R]','In Position - [P]']]
PhysicianCHCSdf = PhysicianCHCSdf.rename(index=str, columns={'Required - [R]' :'Physician_Required_CHCS','In Position - [P]':'Physician_Available_CHCS'})
PhysicianCHCSdf.head()

           State/ UT  Physician_Required_CHCS  Physician_Available_CHCS
0     Andhra Pradesh                      193                        56
1  Arunachal Pradesh                       63                         1
2              Assam                      158                        31
3              Bihar                      150                         8
4       Chhattisgarh                      169                         9

# Surgeons in CHCS

In [49]:
SurgeonCHCSdf = SurgeonCHCS[['State/ UT','Required - [R]','In Position - [P]']]
SurgeonCHCSdf  = SurgeonCHCSdf .rename(index=str, columns={'Required - [R]' :'Surgeon_Required_CHCS','In Position - [P]':'Surgeon_Available_CHCS'})
SurgeonCHCSdf.head()

           State/ UT  Surgeon_Required_CHCS  Surgeon_Available_CHCS
0     Andhra Pradesh                    193                      38
1  Arunachal Pradesh                     63                       0
2              Assam                    158                      12
3              Bihar                    150                      13
4       Chhattisgarh                    169                      15

# Radiographer in CHCS

In [50]:
RadiographerCHCSdf  = RadiographerCHCS[['State/ UT','Required - [R]','In Position - [P]']]
RadiographerCHCSdf  = RadiographerCHCSdf .rename(index=str, columns={'Required - [R]' :'Radiographer_Required_CHCS','In Position - [P]':'Radiographer_Available_CHCS'})
RadiographerCHCSdf.head()

           State/ UT  Radiographer_Required_CHCS  Radiographer_Available_CHCS
0     Andhra Pradesh                         193                           75
1  Arunachal Pradesh                          63                            7
2              Assam                         158                           60
3              Bihar                         150                            1
4       Chhattisgarh                         169                          130

# Year wise PHCS functioning

In [51]:
colsPHCS = list(FunctioningPHCS.columns.values)[1:]
FunctioningPHCSdf = FunctioningPHCS[colsPHCS]
FunctioningPHCSdf.columns = FunctioningPHCSdf.columns.str.split('[').str[1].str.split(']').str[0]
FunctioningPHCSdf.columns = ['PHCS_' + str(col) for col in FunctioningPHCSdf]
FunctioningPHCSdf = FunctioningPHCSdf.rename(index=str, columns={'PHCS_nan':'State/ UT'})
FunctioningPHCSdf.head()

,State/ UT,PHCS_1981-85,PHCS_1985-90,PHCS_1992-97,PHCS_1997-2002,PHCS_2002-07,PHCS_2007-12,PHCS_2012-17
0,Andhra Pradesh,555.0,1283.0,1335.0,1386.0,1570.0,1624.0,1147
1,Arunachal Pradesh,0.0,24.0,45.0,65.0,85.0,97.0,143
2,Assam,237.0,449.0,610.0,610.0,610.0,975.0,1014
3,Bihar,796.0,2001.0,2209.0,2209.0,1648.0,1863.0,1899
4,Chhattisgarh,NaN,NaN,NaN,NaN,518.0,755.0,785

# Year wise CHCS functioning

In [52]:
colsCHCS = list(FunctioningCHCS.columns.values)[1:]
FunctioningCHCSdf =  FunctioningCHCS[colsCHCS]
FunctioningCHCSdf.columns = FunctioningCHCSdf.columns.str.split('[').str[1].str.split(']').str[0]
FunctioningCHCSdf.columns = ['CHCS_' + str(col) for col in FunctioningCHCSdf]
FunctioningCHCSdf = FunctioningCHCSdf.rename(index=str, columns={'CHCS_nan':'State/ UT'})
FunctioningCHCSdf.head()

,State/ UT,CHCS_1981-85,CHCS_1985-90,CHCS_1992-97,CHCS_1997-2002,CHCS_2002-07,CHCS_2007-12,CHCS_2012-17
0,Andhra Pradesh,27.0,46.0,207.0,219.0,167.0,281.0,193
1,Arunachal Pradesh,0.0,6.0,9.0,20.0,31.0,48.0,63
2,Assam,12.0,60.0,100.0,100.0,100.0,109.0,158
3,Bihar,52.0,147.0,148.0,148.0,70.0,70.0,150
4,Chhattisgarh,NaN,NaN,NaN,NaN,118.0,149.0,169

# Year wise subcentre functioning

In [53]:
colsSubC = list(FunctioningSubcen.columns.values)[1:]
FunctioningSubcendf =  FunctioningSubcen[colsSubC]
FunctioningSubcendf.columns = FunctioningSubcendf.columns.str.split('[').str[1].str.split(']').str[0]
FunctioningSubcendf.columns = ['SubCentre_' + str(col) for col in FunctioningSubcendf]
FunctioningSubcendf = FunctioningSubcendf.rename(index=str, columns={'SubCentre_nan':'State/ UT'})
FunctioningSubcendf.head()

,State/ UT,SubCentre_1981-85,SubCentre_1985-90,SubCentre_1992-97,SubCentre_1997-2002,SubCentre_2002-07,SubCentre_2007-12,SubCentre_2012-17
0,Andhra Pradesh,6129.0,7894.0,10568.0,10568.0,12522.0,12522.0,7458
1,Arunachal Pradesh,55.0,155.0,223.0,273.0,379.0,286.0,312
2,Assam,1711.0,5109.0,5109.0,5109.0,5109.0,4604.0,4621
3,Bihar,8299.0,14799.0,14799.0,14799.0,8909.0,9696.0,9949
4,Chhattisgarh,NaN,NaN,NaN,NaN,4692.0,5111.0,5186

# Workers at subcentre

In [54]:
WorkerMaleSubCendf =  WorkerMaleSubCen[['State/ UT','Required - [R]','In Position - [P]']]
WorkerMaleSubCendf =  WorkerMaleSubCendf.rename(index=str, columns={'Required - [R]':'Workers_Required_SubCen_Male','In Position - [P]':'Workers_Available_SuBCen_Male'})
WorkerMaleSubCendf

WorkerFemaleSubCendf = WorkerFemaleSubCen[['State/ UT','Required - [R]','In Position - [P]']]
WorkerFemaleSubCendf = WorkerFemaleSubCendf.rename(index=str, columns={'Required - [R]':'Workers_Required_SubCen_Female','In Position - [P]':'Workers_Available_SuBCen_Female'})
WorkerFemaleSubCendf

WorkersSubCen = pd.merge(WorkerMaleSubCendf,WorkerFemaleSubCendf, on =['State/ UT'])
WorkersSubCen.head()

,State/ UT,Workers_Required_SubCen_Male,Workers_Available_SuBCen_Male,Workers_Required_SubCen_Female,Workers_Available_SuBCen_Female
0,Andhra Pradesh,7458,2964.0,7458,12073
1,Arunachal Pradesh,312,92.0,312,323
2,Assam,4621,2783.0,4621,7545
3,Bihar,9949,1244.0,9949,20151
4,Chhattisgarh,5186,3856.0,5186,5913

# Assistant at PHCS

In [55]:
AssisMalePHCSdf = AssisMalePHCS[['State/ UT','Required - [R]','In Position - [P]']]
AssisMalePHCSdf =  AssisMalePHCSdf.rename(index=str, columns={'Required - [R]':'Assistant_Required_PHCS_Male','In Position - [P]':'Assistant_Available_PHCS_Male'})
AssisMalePHCSdf

AssisFemalePHCSdf =  AssisFemalePHCS[['State/ UT','Required - [R]','In Position - [P]']]
AssisFemalePHCSdf =  AssisFemalePHCSdf.rename(index=str, columns={'Required - [R]':'Assistant_Required_PHCS_Female','In Position - [P]':'Assistant_Available_PHCS_Female'})
AssisFemalePHCSdf

AssistantPHCS   = pd.merge(AssisMalePHCSdf,AssisFemalePHCSdf, on =['State/ UT'])
AssistantPHCS.head()

,State/ UT,Assistant_Required_PHCS_Male,Assistant_Available_PHCS_Male,Assistant_Required_PHCS_Female,Assistant_Available_PHCS_Female
0,Andhra Pradesh,1147,0,1147,1143
1,Arunachal Pradesh,143,81,143,6
2,Assam,1014,106,1014,308
3,Bihar,1899,212,1899,95
4,Chhattisgarh,785,425,785,640

# Nursing staff at PHCS and CHCS

In [56]:
NurseStaffPHCCHCdf = NurseStaffPHCCHC[['State/ UT','Required - [R]','In Position - [P]']]
NurseStaffPHCCHCdf = NurseStaffPHCCHCdf.rename(index=str, columns={'Required - [R]':'NurseStaff_Required_PHCS_CHCS','In Position - [P]':'NurseStaff_Available_PHCS_CHCS'})
NurseStaffPHCCHCdf.head()

,State/ UT,NurseStaff_Required_PHCS_CHCS,NurseStaff_Available_PHCS_CHCS
0,Andhra Pradesh,2498,3541
1,Arunachal Pradesh,584,498
2,Assam,2120,2793
3,Bihar,2949,1142
4,Chhattisgarh,1968,1918

# CHCS facilities

In [57]:
colsFacCHC = list(FacilitiesCHCS.columns.values)
FacilitiesCHCSdf = FacilitiesCHCS[colsFacCHC]
FacilitiesCHCSdf.columns = FacilitiesCHCSdf.columns.str.split('-').str[1].str.strip()
FacilitiesCHCSdf  = FacilitiesCHCSdf.rename(index=str, columns={'With functional Laboratory':'Laboratory','With functional O.T.':'O.T','With functional Labor Room':'Labor Room','With New Born Care Corner':'New Born Care Corner','With functional X':'X-ray','With quarters for specialist Doctors':'Specialist Doctors Quarter','Allopathic drugs for common ailments':'Allopatic Drugs','AYUSH drugs for common ailments':'Ayush Drugs','With referral transport available':'Referral Transport','With at least 30 beds':'Min 30 beds'})
FacilitiesCHCSFdf = FacilitiesCHCSdf[['Col. 1','Min 30 beds','Laboratory','O.T','Labor Room','New Born Care Corner','X-ray','Specialist Doctors Quarter','Referral Transport','Allopatic Drugs','Ayush Drugs']]
FacilitiesCHCSFdf.columns = ['Facilities_CHCS_' + str(col) for col in FacilitiesCHCSFdf]
FacilitiesCHCSFdf = FacilitiesCHCSFdf.rename(index=str, columns={'Facilities_CHCS_Col. 1':'State/ UT'})
FacilitiesCHCSFdf.head()

,State/ UT,Facilities_CHCS_Min 30 beds,Facilities_CHCS_Laboratory,Facilities_CHCS_O.T,Facilities_CHCS_Labor Room,Facilities_CHCS_New Born Care Corner,Facilities_CHCS_X-ray,Facilities_CHCS_Specialist Doctors Quarter,Facilities_CHCS_Referral Transport,Facilities_CHCS_Allopatic Drugs,Facilities_CHCS_Ayush Drugs
0,Andhra Pradesh,193,193,193,193,193,95,0,193,193,91.0
1,Arunachal Pradesh,13,50,29,57,48,7,5,53,59,24.0
2,Assam,90,154,153,158,158,59,114,136,158,108.0
3,Bihar,150,150,150,150,51,150,28,148,150,NaN
4,Chhattisgarh,131,155,133,155,150,123,87,155,157,88.0

# PHCS facilities

In [58]:
colsFacPHC = list(FacilitiesPHCS.columns.values)
FacilitiesPHCSdf = FacilitiesPHCS[colsFacPHC]
FacilitiesPHCSdf.drop([col for col in FacilitiesPHCSdf.columns if '%' in col],axis=1,inplace=True)
FacilitiesPHCSdf.drop([col for col in FacilitiesPHCSdf.columns if 'Without' in col],axis=1,inplace=True)
FacilitiesPHCSdf.drop(['S. No.', 'Registered RKS','No. of PHCs Functioning as per IPHS norms','Number of PHCs Functioning','Number of Primary Health Centres - PHCs functoning on 24X7 basis - Number'],axis=1,inplace=True)
FacilitiesPHCSdf.columns = FacilitiesPHCSdf.columns.str.split('-').str[1].str.strip()
FacilitiesPHCSdf = FacilitiesPHCSdf.rename(index=str, columns={'With Labour Room':'Labour Room','With OT':'OT','With at least 4 beds':'Min 4 Beds','With Telephone':'Telephone','With Computer':'Computer'})
FacilitiesPHCSdf.columns = ['Facilities_PHCS_' + str(col) for col in FacilitiesPHCSdf]
FacilitiesPHCSdf = FacilitiesPHCSdf.rename(index=str, columns={'Facilities_PHCS_nan':'State/ UT'})
FacilitiesPHCSdf.head()

,State/ UT,Facilities_PHCS_Labour Room,Facilities_PHCS_OT,Facilities_PHCS_Min 4 Beds,Facilities_PHCS_Telephone,Facilities_PHCS_Computer,Facilities_PHCS_Referral Transport
0,Andhra Pradesh,979,946,1147,1075,1075,1147
1,Arunachal Pradesh,72,20,54,7,13,56
2,Assam,766,47,332,191,634,482
3,Bihar,795,496,795,526,783,496
4,Chhattisgarh,693,256,585,181,751,374

# Area wise infant mortality rate

In [59]:
InfantMorRatedf = InfantMorRate[['State/ UT','Infant Mortality Rate [IMR] - Rural','Infant Mortality Rate [IMR] - Urban']]
InfantMorRatedf.head()

,State/ UT,Infant Mortality Rate [IMR] - Rural,Infant Mortality Rate [IMR] - Urban
0,Andhra Pradesh,38,24
1,Arunachal Pradesh,38,23
2,Assam,46,22
3,Bihar,39,29
4,Chhattisgarh,41,31

# Pharmacist in PHCS & CHCS

In [60]:
PharmacistPHCCHCdf = PharmacistPHCCHC[['State/ UT','Required - [R]','In Position - [P]']]
PharmacistPHCCHCdf = PharmacistPHCCHCdf.rename(index=str, columns={'Required - [R]':'Pharmacist_PHCS_CHCS_Required','In Position - [P]':'Pharmacist_PHCS_CHCS_Available'})
PharmacistPHCCHCdf.head()

,State/ UT,Pharmacist_PHCS_CHCS_Required,Pharmacist_PHCS_CHCS_Available
0,Andhra Pradesh,1340,994
1,Arunachal Pradesh,206,89
2,Assam,1172,1384
3,Bihar,2049,287
4,Chhattisgarh,954,887

# District wise health care centres

In [88]:
cols = list(DWHealthCareCen.columns.values)[1:]
DWHealthCareCendf = DWHealthCareCen[cols]
DWHealthCareCendf.columns = ['DW_' + str(col) for col in DWHealthCareCendf]
DWHealthCareCendf = DWHealthCareCendf.rename(index=str, columns={'DW_States/Union Territories':'name'})
DWHealthCareCendf['name'] = DWHealthCareCendf['name'].str.upper()
DWHealthCareCendf.replace('A & N ISLANDS','ANDAMAN & NICOBAR ISLANDS',inplace=True)
DWHealthCareCendf.replace('DELHI','NCT OF DELHI',inplace=True)
DWHealthCareCendf.replace('D & N HAVELI','DADRA & NAGAR HAVELI',inplace=True)
DWHealthCareCendf = DWHealthCareCendf[DWHealthCareCendf.DW_District.str.contains("Total") == False]
DWHealthCareCendf.head()

,name,DW_District,DW_Sub Centres,DW_PHCs,DW_CHCs,DW_Sub Divisional Hospital,DW_District Hospital
0,ANDHRA PRADESH,Srikakulam,465,80,16,2,0.0
1,ANDHRA PRADESH,Vizianagaram,431,68,11,1,1.0
2,ANDHRA PRADESH,Visakhapatnam,583,89,11,2,0.0
3,ANDHRA PRADESH,East Godavari,840,128,26,3,1.0
4,ANDHRA PRADESH,West Godavari,635,91,14,3,1.0

# Primary health care combined dataframe

In [62]:
PrimaryHealthDF   = [AreaCovereddf,VillageCovereddf,RuralPopCovereddf,AlloDocPHCSdf,DisSubdisDocdf,PhysicianCHCSdf,SurgeonCHCSdf,RadiographerCHCSdf,FunctioningPHCSdf,FunctioningCHCSdf,FunctioningSubcendf,WorkersSubCen,AssistantPHCS,NurseStaffPHCCHCdf,FacilitiesCHCSFdf,FacilitiesPHCSdf,InfantMorRatedf,PharmacistPHCCHCdf]
PrimaryHealth     =  reduce(lambda left,right: pd.merge(left,right, on=['State/ UT']),PrimaryHealthDF)
PrimaryHealth['State/ UT'] = PrimaryHealth['State/ UT'].str.upper()
PrimaryHealth.replace('A & N ISLAND','ANDAMAN & NICOBAR ISLANDS',inplace=True)
PrimaryHealth.replace('DELHI','NCT OF DELHI',inplace=True)
PrimaryHealth  = PrimaryHealth.rename(index=str, columns={'State/ UT':'name'})
PrimaryHealth.head()

,name,Rural_Area[Sq. Km.]_Sub Centre,Rural_AreaArea[Sq. Km.]_PHCS,Rural_AreaArea[Sq. Km.]_CHCS,Rural_Rdistance[Kms]_Sub Centre,Rural_Rdistance[Kms]_PHCS,Rural_Rdistance[Kms]_CHCS,Villages Covered_Sub Centre,Villages Covered_PHCS,Villages Covered_CHCS,...,Facilities_PHCS_Labour Room,Facilities_PHCS_OT,Facilities_PHCS_Min 4 Beds,Facilities_PHCS_Telephone,Facilities_PHCS_Computer,Facilities_PHCS_Referral Transport,Infant Mortality Rate [IMR] - Rural,Infant Mortality Rate [IMR] - Urban,Pharmacist_PHCS_CHCS_Required,Pharmacist_PHCS_CHCS_Available
0,ANDHRA PRADESH,21.0,138.0,823.0,3.0,7.0,16.0,2,15,88.0,...,979,946,1147,1075,1075,1147,38,24,1340,994
1,ARUNACHAL PRADESH,NaN,NaN,NaN,NaN,NaN,NaN,18,39,89.0,...,72,20,54,7,13,56,38,23,206,89
2,ASSAM,7.0,31.0,200.0,1.0,3.0,8.0,6,26,167.0,...,766,47,332,191,634,482,46,22,1172,1384
3,BIHAR,9.0,48.0,612.0,2.0,4.0,14.0,5,24,299.0,...,795,496,795,526,783,496,39,29,2049,287
4,CHHATTISGARH,25.0,168.0,781.0,3.0,7.0,16.0,4,26,119.0,...,693,256,585,181,751,374,41,31,954,887

# Primary health imputed dataframe

In [63]:
PrimaryHealthImp = PrimaryHealth.fillna(method = 'bfill', axis=0).fillna(0)
PrimaryHealthImp.head()

,name,Rural_Area[Sq. Km.]_Sub Centre,Rural_AreaArea[Sq. Km.]_PHCS,Rural_AreaArea[Sq. Km.]_CHCS,Rural_Rdistance[Kms]_Sub Centre,Rural_Rdistance[Kms]_PHCS,Rural_Rdistance[Kms]_CHCS,Villages Covered_Sub Centre,Villages Covered_PHCS,Villages Covered_CHCS,...,Facilities_PHCS_Labour Room,Facilities_PHCS_OT,Facilities_PHCS_Min 4 Beds,Facilities_PHCS_Telephone,Facilities_PHCS_Computer,Facilities_PHCS_Referral Transport,Infant Mortality Rate [IMR] - Rural,Infant Mortality Rate [IMR] - Urban,Pharmacist_PHCS_CHCS_Required,Pharmacist_PHCS_CHCS_Available
0,ANDHRA PRADESH,21.0,138.0,823.0,3.0,7.0,16.0,2,15,88.0,...,979,946,1147,1075,1075,1147,38,24,1340,994
1,ARUNACHAL PRADESH,7.0,31.0,200.0,1.0,3.0,8.0,18,39,89.0,...,72,20,54,7,13,56,38,23,206,89
2,ASSAM,7.0,31.0,200.0,1.0,3.0,8.0,6,26,167.0,...,766,47,332,191,634,482,46,22,1172,1384
3,BIHAR,9.0,48.0,612.0,2.0,4.0,14.0,5,24,299.0,...,795,496,795,526,783,496,39,29,2049,287
4,CHHATTISGARH,25.0,168.0,781.0,3.0,7.0,16.0,4,26,119.0,...,693,256,585,181,751,374,41,31,954,887

# Primary health functions

In [65]:
# Geo code and geo level
geography = pd.read_csv('data/geography.csv',encoding='UTF-8')
geo = geography[['geo_level','geo_code','name']]

# Calculating country data
def setCountryData(df,cols):
    for x in cols:
         df.loc[df['geo_level'] == 'country', x]= df.loc[df['geo_level'] == 'state', x].sum()
    return df;

def getHealthGeo(df):
    dfgeo = geo.merge(df ,on=['name'],how='left')
    cols = list(df.columns.values)[1:]
    dfgeoCountry = setCountryData(dfgeo,cols)
    return dfgeoCountry;

def getHealthCensus(df,varname):
    dfgeo = getHealthGeo(df)
    dfgeo = dfgeo.fillna(0)
    dfgeoFinal = pd.melt(dfgeo, id_vars=['geo_level', 'geo_code','name'], var_name=varname, value_name="total")
    dfgeoFinal = dfgeoFinal.sort_values(by=['geo_level','name']).reset_index().drop(['index'],axis=1).drop(['name'],axis=1)
    dfgeoFinal['total'] = dfgeoFinal['total'].astype(int)
    return dfgeoFinal

# Primary health data wazimap manipulation

# PHCS functioning yearly

In [66]:
PHCSyearlyfun = PrimaryHealthImp[['name','PHCS_1981-85','PHCS_1985-90','PHCS_1992-97','PHCS_1997-2002','PHCS_2002-07','PHCS_2007-12','PHCS_2012-17']]
PHCSyearlyfundf = getHealthCensus(PHCSyearlyfun,'phcsfunctioning')
PHCSyearlyfundf['phcsfunctioning'] = PHCSyearlyfundf['phcsfunctioning'].str.split('_').str[1]
PHCSyearlyfundf.replace('1997-2002','1997-02',inplace=True)
PHCSyearlyfundf.head()
#PHCSyearlyfundf.to_csv('data/phcsfunctioning.csv', index=False)

  geo_level geo_code phcsfunctioning  total
0   country       IN         1981-85  10694
1   country       IN         1985-90  22879
2   country       IN         1992-97  27583
3   country       IN         1997-02  28436
4   country       IN         2002-07  22445

# CHCS functioning yearly

In [67]:
CHCSyearlyfun   = PrimaryHealthImp[['name','CHCS_1981-85','CHCS_1985-90','CHCS_1992-97','CHCS_1997-2002','CHCS_2002-07','CHCS_2007-12','CHCS_2012-17']]
CHCSyearlyfundf = getHealthCensus(CHCSyearlyfun,'chcsfunctioning')
CHCSyearlyfundf['chcsfunctioning'] = CHCSyearlyfundf['chcsfunctioning'].str.split('_').str[1]
CHCSyearlyfundf.replace('1997-2002','1997-02',inplace=True)
CHCSyearlyfundf.head()
#CHCSyearlyfundf.to_csv('data/chcsfunctioning.csv', index=False)

  geo_level geo_code chcsfunctioning  total
0   country       IN         1981-85    939
1   country       IN         1985-90   2256
2   country       IN         1992-97   3153
3   country       IN         1997-02   3629
4   country       IN         2002-07   4055

# Subcentre functioning yearly

In [68]:
Subcenyearlyfun   = PrimaryHealthImp[['name','SubCentre_1981-85','SubCentre_1985-90','SubCentre_1992-97','SubCentre_1997-2002','SubCentre_2002-07','SubCentre_2007-12','SubCentre_2012-17']]
Subcenyearlyfundf = getHealthCensus(Subcenyearlyfun,'subcenfunctioning')
Subcenyearlyfundf['subcenfunctioning'] = Subcenyearlyfundf['subcenfunctioning'].str.split('_').str[1]
Subcenyearlyfundf.replace('1997-2002','1997-02',inplace=True)
Subcenyearlyfundf.head()
#Subcenyearlyfundf.to_csv('data/subcenfunctioning.csv', index=False)

  geo_level geo_code subcenfunctioning   total
0   country       IN           1981-85  105379
1   country       IN           1985-90  158783
2   country       IN           1992-97  165263
3   country       IN           1997-02  166318
4   country       IN           2002-07  145851

# Villages covered by centres

In [69]:
VillCovCen   = PrimaryHealthImp[['name','Villages Covered_Sub Centre','Villages Covered_PHCS','Villages Covered_CHCS']]
VillCovCendf = getHealthCensus(VillCovCen,'villagescovered')
VillCovCendf['villagescovered'] = VillCovCendf['villagescovered'].str.split('_').str[1]
VillCovCendf.head()
#VillCovCendf.to_csv('data/villagescovered.csv', index=False)

  geo_level geo_code villagescovered  total
0   country       IN      Sub Centre    165
1   country       IN            PHCS    888
2   country       IN            CHCS   3876
3  district      532      Sub Centre      0
4  district      532            PHCS      0

#  Rural population covered by centres

In [70]:
RuralPopCov = PrimaryHealthImp[['name','PopulationR_Covered_Sub Centre','PopulationR_Covered_PHCS','PopulationR_Covered_CHCS']]
RuralPopCovdf = getHealthCensus(RuralPopCov,'ruralpopcovered')
RuralPopCovdf['ruralpopcovered'] = RuralPopCovdf['ruralpopcovered'].str.split('_').str[2]
RuralPopCovdf.head()
#RuralPopCovdf.to_csv('data/ruralpopcovered.csv', index=False)

  geo_level geo_code ruralpopcovered    total
0   country       IN      Sub Centre   189274
1   country       IN            PHCS  1012714
2   country       IN            CHCS  4451051
3  district      532      Sub Centre        0
4  district      532            PHCS        0

# Allopathic doctors in PHCs

In [71]:
AlloDocPHCS = PrimaryHealthImp[['name','Allopathic doctor_PHCS_Required','Allopathic doctor_PHCS_Available']]
AlloDocPHCSdf = getHealthCensus(AlloDocPHCS,'allopathicdocphcs')
AlloDocPHCSdf['allopathicdocphcs'] = AlloDocPHCSdf['allopathicdocphcs'].str.split('_').str[2]
AlloDocPHCSdf.head()
#AlloDocPHCSdf.to_csv('data/allopathicdocphcs.csv', index=False)

  geo_level geo_code allopathicdocphcs  total
0   country       IN          Required  25650
1   country       IN         Available  27124
2  district      532          Required      0
3  district      532         Available      0
4  district      146          Required      0

# Dis and sub-dis doctors

In [72]:
DisSubDoc = PrimaryHealthImp[['name','Doctors_District Hospital','Doctors_Sub District Hospital']]
DisSubDocdf  = getHealthCensus(DisSubDoc,'doctorsdissubhospital')
DisSubDocdf['doctorsdissubhospital'] = DisSubDocdf['doctorsdissubhospital'].str.split('_').str[1]
DisSubDocdf.head()
#DisSubDocdf.to_csv('data/doctorsdissubhospital.csv', index=False)

  geo_level geo_code  doctorsdissubhospital  total
0   country       IN      District Hospital  20862
1   country       IN  Sub District Hospital  13548
2  district      532      District Hospital      0
3  district      532  Sub District Hospital      0
4  district      146      District Hospital      0

# Physicians in CHCs

In [73]:
PhyCHCS = PrimaryHealthImp[['name','Physician_Required_CHCS','Physician_Available_CHCS']]
PhyCHCSdf = getHealthCensus(PhyCHCS,'physicianchcs')
PhyCHCSdf['physicianchcs'] = PhyCHCSdf['physicianchcs'].str.split('_').str[1]
PhyCHCSdf.head()
#PhyCHCSdf.to_csv('data/physicianchcs.csv', index=False)

  geo_level geo_code physicianchcs  total
0   country       IN      Required   5624
1   country       IN     Available    864
2  district      532      Required      0
3  district      532     Available      0
4  district      146      Required      0

# Surgeons in CHCS

In [74]:
SurCHCS    = PrimaryHealthImp[['name','Surgeon_Required_CHCS','Surgeon_Available_CHCS']]
SurCHCSdf  = getHealthCensus(SurCHCS,'surgeonchcs')
SurCHCSdf['surgeonchcs'] = SurCHCSdf['surgeonchcs'].str.split('_').str[1]
SurCHCSdf.head()
#SurCHCSdf.to_csv('data/surgeonchcs.csv', index=False)

  geo_level geo_code surgeonchcs  total
0   country       IN    Required   5624
1   country       IN   Available    758
2  district      532    Required      0
3  district      532   Available      0
4  district      146    Required      0

# Radiographer in CHCS

In [75]:
RadioCHCS   = PrimaryHealthImp[['name','Radiographer_Required_CHCS','Radiographer_Available_CHCS']]
RadioCHCSdf = getHealthCensus(RadioCHCS,'radiographerchcs')
RadioCHCSdf['radiographerchcs'] = RadioCHCSdf['radiographerchcs'].str.split('_').str[1]
RadioCHCSdf.head()
#RadioCHCSdf.to_csv('data/radiographerchcs.csv', index=False)

  geo_level geo_code radiographerchcs  total
0   country       IN         Required   5624
1   country       IN        Available   2129
2  district      532         Required      0
3  district      532        Available      0
4  district      146         Required      0

# Workers at subcentre

In [76]:
WorSubC     = PrimaryHealthImp[['name','Workers_Required_SubCen_Male','Workers_Available_SuBCen_Male','Workers_Required_SubCen_Female','Workers_Available_SuBCen_Female']]
WorSubCdf   = getHealthCensus(WorSubC,'workers')
WorSubCdf['workersubcentre'] =  WorSubCdf['workers'].str.split('_').str[1]
WorSubCdf['gender']          =  WorSubCdf['workers'].str.split('_').str[3]
WorSubCdfFinal = WorSubCdf[['geo_level','geo_code','workersubcentre','gender','total']]
WorSubCdfFinal.head()
#WorSubCdfFinal.to_csv('data/workersubcentre_gender.csv', index=False)

  geo_level geo_code workersubcentre  gender   total
0   country       IN        Required    Male  156231
1   country       IN       Available    Male   59880
2   country       IN        Required  Female  156231
3   country       IN       Available  Female  198356
4  district      532        Required    Male       0

# Assistant at PHCS

In [77]:
AssisPHCS   =  PrimaryHealthImp[['name','Assistant_Required_PHCS_Male','Assistant_Available_PHCS_Male','Assistant_Required_PHCS_Female','Assistant_Available_PHCS_Female']]
AssisPHCSdf   = getHealthCensus(AssisPHCS,'assistant')
AssisPHCSdf['assistantphcs']   =  AssisPHCSdf['assistant'].str.split('_').str[1]
AssisPHCSdf['gender']          =  AssisPHCSdf['assistant'].str.split('_').str[3]
AssisPHCSdfFinal = AssisPHCSdf[['geo_level','geo_code','assistantphcs','gender','total']]
AssisPHCSdfFinal.head()
#AssisPHCSdfFinal.to_csv('data/assistantphcs_gender.csv', index=False)

  geo_level geo_code assistantphcs  gender  total
0   country       IN      Required    Male  25650
1   country       IN     Available    Male  12288
2   country       IN      Required  Female  25650
3   country       IN     Available  Female  14267
4  district      532      Required    Male      0

# Nursing staff at PHCS and CHCS

In [78]:
Nursingstaffphcchcs   = PrimaryHealthImp[['name','NurseStaff_Required_PHCS_CHCS','NurseStaff_Available_PHCS_CHCS']]
Nursingstaffphcchcsdf = getHealthCensus(Nursingstaffphcchcs,'nursestaffphcschcs')
Nursingstaffphcchcsdf['nursestaffphcschcs'] = Nursingstaffphcchcsdf['nursestaffphcschcs'].str.split('_').str[1]
Nursingstaffphcchcsdf.head()
#Nursingstaffphcchcsdf.to_csv('data/nursestaffphcschcs.csv', index=False)

  geo_level geo_code nursestaffphcschcs  total
0   country       IN           Required  65018
1   country       IN          Available  70738
2  district      532           Required      0
3  district      532          Available      0
4  district      146           Required      0

# CHCS facilities

In [79]:
FacilitiiesCHCS   = PrimaryHealthImp[['name','Facilities_CHCS_Min 30 beds','Facilities_CHCS_Laboratory','Facilities_CHCS_O.T','Facilities_CHCS_Labor Room','Facilities_CHCS_New Born Care Corner','Facilities_CHCS_X-ray','Facilities_CHCS_Specialist Doctors Quarter','Facilities_CHCS_Referral Transport','Facilities_CHCS_Allopatic Drugs','Facilities_CHCS_Ayush Drugs']]
FacilitiiesCHCSdf = getHealthCensus(FacilitiiesCHCS,'facilitieschcs')
FacilitiiesCHCSdf['facilitieschcs'] = FacilitiiesCHCSdf['facilitieschcs'].str.split('_').str[2]
FacilitiiesCHCSdf.head()
#FacilitiiesCHCSdf.to_csv('data/facilitieschcs.csv', index=False)

  geo_level geo_code        facilitieschcs  total
0   country       IN           Min 30 beds   4083
1   country       IN            Laboratory   5303
2   country       IN                   O.T   4696
3   country       IN            Labor Room   5186
4   country       IN  New Born Care Corner   4722

# PHCS facilities

In [80]:
FacilitiesPHCS   =  PrimaryHealthImp[['name','Facilities_PHCS_Labour Room','Facilities_PHCS_OT','Facilities_PHCS_Min 4 Beds','Facilities_PHCS_Telephone','Facilities_PHCS_Computer','Facilities_PHCS_Referral Transport']]
FacilitiesPHCSdf = getHealthCensus(FacilitiesPHCS,'facilitiesphcs')
FacilitiesPHCSdf['facilitiesphcs'] = FacilitiesPHCSdf['facilitiesphcs'].str.split('_').str[2]
FacilitiesPHCSdf.head()
#FacilitiesPHCSdf.to_csv('data/facilitiesphcs.csv', index=False)

  geo_level geo_code facilitiesphcs  total
0   country       IN    Labour Room  17688
1   country       IN             OT   9422
2   country       IN     Min 4 Beds  19559
3   country       IN      Telephone  13918
4   country       IN       Computer  16688

# Pharmacist in PHCS and CHCS

In [81]:
PharmaPHCCHC   = PrimaryHealthImp[['name','Pharmacist_PHCS_CHCS_Required','Pharmacist_PHCS_CHCS_Available']]
PharmaPHCCHCdf = getHealthCensus(PharmaPHCCHC,'pharmacistphcschcs')
PharmaPHCCHCdf['pharmacistphcschcs'] = PharmaPHCCHCdf['pharmacistphcschcs'].str.split('_').str[3]
PharmaPHCCHCdf.head()
#PharmaPHCCHCdf.to_csv('data/pharmacistphcschcs.csv', index=False)

  geo_level geo_code pharmacistphcschcs  total
0   country       IN           Required  31274
1   country       IN          Available  25193
2  district      532           Required      0
3  district      532          Available      0
4  district      146           Required      0

# District wise health care centres

In [96]:
def getDisGeoData(df):
    cols = list(df.columns.values)[2:]
    df = df.replace(',','',regex=True)
    df[cols] = df[cols].astype(float)
    dfState = df.groupby(['name'])[cols].sum().reset_index()
   
    dfDis   = df.groupby(['DW_District'])[cols].sum().reset_index()
    dfDis   = dfDis.rename(index=str, columns={'DW_District': 'name'})
    dfDis['name'] = dfDis['name'].str.title()
    
    dfCom = pd.concat([dfState, dfDis])
    dfgeo = geo.merge(dfCom ,on=['name'],how='left')
    dfgeo = dfgeo.sort_values(by=['geo_level','name'])
    dfgeo = dfgeo.fillna(method = 'bfill', axis=0).fillna(0)
    dfgeoCountry = setCountryData(dfgeo,cols)
    return dfgeoCountry

DWHealthCareCenGeo = getDisGeoData(DWHealthCareCendf)
DWHealthCareCenFinal = pd.melt(DWHealthCareCenGeo, id_vars=['geo_level', 'geo_code','name'], var_name='healthcares', value_name="total")
DWHealthCareCenFinal = DWHealthCareCenFinal.sort_values(by=['geo_level','name']).reset_index().drop(['index'],axis=1).drop(['name'],axis=1)
DWHealthCareCenFinal['total'] = DWHealthCareCenFinal['total'].astype(int)
DWHealthCareCenFinal['healthcares'] = DWHealthCareCenFinal['healthcares'].str.split('_').str[1]
DWHealthCareCenFinal.head()
#DWHealthCareCenFinal.to_csv('data/healthcarecentre.csv', index=False)

  geo_level geo_code              healthcares   total
0   country       IN              Sub Centres  156500
1   country       IN                     PHCs   26123
2   country       IN                     CHCs    5625
3   country       IN  Sub Divisional Hospital    1108
4   country       IN        District Hospital     779

In [103]:
list(PrimaryHealthImp.columns.values)

['name',
 'Rural_Area[Sq. Km.]_Sub Centre',
 'Rural_AreaArea[Sq. Km.]_PHCS',
 'Rural_AreaArea[Sq. Km.]_CHCS',
 'Rural_Rdistance[Kms]_Sub Centre',
 'Rural_Rdistance[Kms]_PHCS',
 'Rural_Rdistance[Kms]_CHCS',
 'Villages Covered_Sub Centre',
 'Villages Covered_PHCS',
 'Villages Covered_CHCS',
 'PopulationR_Covered_Sub Centre',
 'PopulationR_Covered_PHCS',
 'PopulationR_Covered_CHCS',
 'Allopathic doctor_PHCS_Required',
 'Allopathic doctor_PHCS_Available',
 'Doctors_District Hospital',
 'Doctors_Sub District Hospital',
 'Physician_Required_CHCS',
 'Physician_Available_CHCS',
 'Surgeon_Required_CHCS',
 'Surgeon_Available_CHCS',
 'Radiographer_Required_CHCS',
 'Radiographer_Available_CHCS',
 'PHCS_1981-85',
 'PHCS_1985-90',
 'PHCS_1992-97',
 'PHCS_1997-2002',
 'PHCS_2002-07',
 'PHCS_2007-12',
 'PHCS_2012-17',
 'CHCS_1981-85',
 'CHCS_1985-90',
 'CHCS_1992-97',
 'CHCS_1997-2002',
 'CHCS_2002-07',
 'CHCS_2007-12',
 'CHCS_2012-17',
 'SubCentre_1981-85',
 'SubCentre_1985-90',
 'SubCentre_1992-97',
 'SubCentre_1997-2002',
 'SubCentre_2002-07',
 'SubCentre_2007-12',
 'SubCentre_2012-17',
 'Workers_Required_SubCen_Male',
 'Workers_Available_SuBCen_Male',
 'Workers_Required_SubCen_Female',
 'Workers_Available_SuBCen_Female',
 'Assistant_Required_PHCS_Male',
 'Assistant_Available_PHCS_Male',
 'Assistant_Required_PHCS_Female',
 'Assistant_Available_PHCS_Female',
 'NurseStaff_Required_PHCS_CHCS',
 'NurseStaff_Available_PHCS_CHCS',
 'Facilities_CHCS_Min 30 beds',
 'Facilities_CHCS_Laboratory',
 'Facilities_CHCS_O.T',
 'Facilities_CHCS_Labor Room',
 'Facilities_CHCS_New Born Care Corner',
 'Facilities_CHCS_X-ray',
 'Facilities_CHCS_Specialist Doctors Quarter',
 'Facilities_CHCS_Referral Transport',
 'Facilities_CHCS_Allopatic Drugs',
 'Facilities_CHCS_Ayush Drugs',
 'Facilities_PHCS_Labour Room',
 'Facilities_PHCS_OT',
 'Facilities_PHCS_Min 4 Beds',
 'Facilities_PHCS_Telephone',
 'Facilities_PHCS_Computer',
 'Facilities_PHCS_Referral Transport',
 'Infant Mortality Rate [IMR] - Rural',
 'Infant Mortality Rate [IMR] - Urban',
 'Pharmacist_PHCS_CHCS_Required',
 'Pharmacist_PHCS_CHCS_Available']