# India Primary Health Care and Crime data

In [14]:
import pandas as pd
import numpy as np
from functools import reduce
# Read health care csv file
AlloDocPHCS        = pd.read_csv('data/health/allo-doc-PHCS.csv', encoding='utf-8')
DisSubdisDoc       = pd.read_csv('data/health/dis-subdis-doctors.csv', encoding='utf-8')
PhysicianCHCS      = pd.read_csv('data/health/physician-CHCS.csv', encoding='utf-8')
SurgeonCHCS        = pd.read_csv('data/health/surgeons-CHCS.csv', encoding='utf-8')
FunctioningPHCS    = pd.read_csv('data/health/year-wise-PHCS.csv', encoding='utf-8')
FunctioningCHCS    = pd.read_csv('data/health/year-wise-CHCS.csv', encoding='utf-8')
FunctioningSubcen  = pd.read_csv('data/health/year-wise-Subcentre.csv', encoding='utf-8')
WorkerMaleSubCen   = pd.read_csv('data/health/worker-male-subcen.csv', encoding='utf-8')
WorkerFemaleSubCen = pd.read_csv('data/health/worker-female-subcen.csv', encoding='utf-8')
AssisMalePHCS      = pd.read_csv('data/health/assistant-male-PHCS.csv', encoding='utf-8')
AssisFemalePHCS    = pd.read_csv('data/health/assistant-female-PHCS.csv', encoding='utf-8')
NurseStaffPHCCHC   = pd.read_csv('data/health/nursing-staff-PHCS-CHCS.csv', encoding='utf-8')
FacilitiesCHCS     = pd.read_csv('data/health/facilities-CHCS.csv', encoding='utf-8')
FacilitiesPHCS     = pd.read_csv('data/health/facilities-PHCS.csv', encoding='utf-8')
RadiographerCHCS   = pd.read_csv('data/health/radiographers-CHCS.csv', encoding='utf-8')
VillageCovered     = pd.read_csv('data/health/villg-coveredby-centre.csv', encoding='utf-8')
AreaCovered        = pd.read_csv('data/health/rural-area-covered-centre.csv', encoding='utf-8')
InfantMorRate      = pd.read_csv('data/health/infant-mortality-rate.csv', encoding='utf-8')
RuralPopCovered    = pd.read_csv('data/health/rural-population-centre.csv', encoding='utf-8')
PharmacistPHCCHC   = pd.read_csv('data/health/pharmacists-PHCS-CHCS.csv', encoding='utf-8')
FuctioningPHCS     = pd.read_csv('data/health/fuctioning-PHCS.csv', encoding='utf-8')
# District wise health care centres
DWHealthCareCen    = pd.read_csv('data/health/dw-healthcare-centres.csv', encoding='utf-8')

# Crime  methods

In [ ]:
def getCrimeGeo(df,name):

# Age wise rape victims in India

In [4]:
rapev    = crimedfCom[['STATE NAME','RAPE VICTIMS BELOW 6 YEARS','RAPE VICTIMS 6-11 YEARS','RAPE VICTIMS 12-15 YEARS','RAPE VICTIMS 16-17 YEARS','RAPE VICTIMS 18-29 YEARS','RAPE VICTIMS 30-44 YEARS','RAPE VICTIMS 45-59 YEARS','RAPE VICTIMS 60 YEARS & ABOVE']]
rapev    = rapev.rename(index=str, columns={'RAPE VICTIMS BELOW 6 YEARS': '0-6','RAPE VICTIMS 6-11 YEARS':'6-11','RAPE VICTIMS 12-15 YEARS':'12-15','RAPE VICTIMS 16-17 YEARS':'16-17','RAPE VICTIMS 18-29 YEARS':'18-29','RAPE VICTIMS 30-44 YEARS':'30-44','RAPE VICTIMS 45-59 YEARS':'45-59','RAPE VICTIMS 60 YEARS & ABOVE':'60 & Above'})
rapevgeo = getCrimeGeo(rapev,'Rape Victims_')
rapevgeo.head()

,geo_level,geo_code,name,Rape Victims_0-6,Rape Victims_6-11,Rape Victims_12-15,Rape Victims_16-17,Rape Victims_18-29,Rape Victims_30-44,Rape Victims_45-59,Rape Victims_60 & Above
0,country,IN,India,520.0,1596.0,6091.0,8656.0,16462.0,5192.0,494.0,57.0
1,state,1,JAMMU & KASHMIR,2.0,1.0,9.0,9.0,182.0,51.0,2.0,0.0
2,state,2,HIMACHAL PRADESH,6.0,13.0,67.0,62.0,81.0,23.0,6.0,0.0
3,state,3,PUNJAB,15.0,33.0,175.0,187.0,281.0,139.0,9.0,1.0
4,state,4,CHANDIGARH,2.0,4.0,18.0,17.0,21.0,6.0,0.0,1.0

# Year wise crimes in India

In [5]:
crimes    = crimedfCom[['STATE NAME','CRIME (2014)','CRIME (2015)','CRIME (2016)']]
crimesGeo = getCrimeGeo(crimes,'')
crimesGeo.head()

,geo_level,geo_code,name,CRIME (2014),CRIME (2015),CRIME (2016)
0,country,IN,India,2851563.0,2949400.0,2975711.0
1,state,1,JAMMU & KASHMIR,23848.0,23583.0,24501.0
2,state,2,HIMACHAL PRADESH,14160.0,14007.0,13386.0
3,state,3,PUNJAB,37162.0,37983.0,40007.0
4,state,4,CHANDIGARH,3221.0,3248.0,2996.0

# Year wise cyber crimes in India

In [6]:
cybercrimes = crimedfCom[['STATE NAME','CYBER CRIME (2014)','CYBER CRIME (2015)','CYBER CRIME (2016)']]
cybercrimesGeo = getCrimeGeo(cybercrimes,'')
cybercrimesGeo.head()

,geo_level,geo_code,name,CYBER CRIME (2014),CYBER CRIME (2015),CYBER CRIME (2016)
0,country,IN,India,9622.0,11592.0,12317.0
1,state,1,JAMMU & KASHMIR,37.0,34.0,28.0
2,state,2,HIMACHAL PRADESH,38.0,50.0,31.0
3,state,3,PUNJAB,226.0,149.0,102.0
4,state,4,CHANDIGARH,55.0,77.0,26.0

# Kidnapping by gender

In [7]:
kidnapped = crimedfCom[['STATE NAME','KIDNAPPED & ABDUCTED (MALE)','KIDNAPPED & ABDUCTED (FEMALE)']]
kidnappedGeo = getCrimeGeo(kidnapped,'')
kidnappedGeo.head()

,geo_level,geo_code,name,KIDNAPPED & ABDUCTED (MALE),KIDNAPPED & ABDUCTED (FEMALE)
0,country,IN,India,42924.0,115823.0
1,state,1,JAMMU & KASHMIR,130.0,1502.0
2,state,2,HIMACHAL PRADESH,171.0,359.0
3,state,3,PUNJAB,1083.0,2955.0
4,state,4,CHANDIGARH,138.0,222.0

# Kidnapped recovery by gender

In [8]:
kidnappedRecAlive = crimedfCom[['STATE NAME','KIDNAPPED PERSON RECOVERED ALIVE (MALE)','KIDNAPPED PERSON RECOVERED ALIVE (FEMALE)']]
kidnappedRecAlivegeo = getCrimeGeo(kidnappedRecAlive,'')

kidnappedRecDead  = crimedfCom[['STATE NAME','KIDNAPPED PERSON RECOVERED DEAD (MALE)','KIDNAPPED PERSON RECOVERED DEAD (FEMALE)']]
kidnappedRecDeadgeo = getCrimeGeo(kidnappedRecDead,'')

kidnappingrecCom    =  pd.merge(kidnappedRecAlivegeo,kidnappedRecDeadgeo,on=['geo_level','geo_code','name'])
kidnappingrecCom.head()

,geo_level,geo_code,name,KIDNAPPED PERSON RECOVERED ALIVE (MALE),KIDNAPPED PERSON RECOVERED ALIVE (FEMALE),KIDNAPPED PERSON RECOVERED DEAD (MALE),KIDNAPPED PERSON RECOVERED DEAD (FEMALE)
0,country,IN,India,18792.0,50482.0,182.0,143.0
1,state,1,JAMMU & KASHMIR,40.0,944.0,1.0,1.0
2,state,2,HIMACHAL PRADESH,88.0,210.0,5.0,1.0
3,state,3,PUNJAB,302.0,957.0,2.0,0.0
4,state,4,CHANDIGARH,68.0,132.0,0.0,0.0

# Trafficking

In [9]:
trafficing = crimedfCom[['STATE NAME','TRAFFICED BELOW 18 YRS (MALE)','TRAFFICED BELOW 18 YRS (FEMALE)','TRAFFICED ABOVE 18 YRS (MALE)','TRAFFICED ABOVE 18 YRS (FEMALE)']]
trafficingGeo =  getCrimeGeo(trafficing,'')
trafficingGeo.head()

,geo_level,geo_code,name,TRAFFICED BELOW 18 YRS (MALE),TRAFFICED BELOW 18 YRS (FEMALE),TRAFFICED ABOVE 18 YRS (MALE),TRAFFICED ABOVE 18 YRS (FEMALE)
0,country,IN,India,4123.0,4911.0,1106.0,5239.0
1,state,1,JAMMU & KASHMIR,0.0,0.0,0.0,0.0
2,state,2,HIMACHAL PRADESH,2.0,2.0,0.0,113.0
3,state,3,PUNJAB,47.0,1.0,1.0,1.0
4,state,4,CHANDIGARH,0.0,1.0,0.0,0.0

# Trafficking motives

In [10]:
trafficingMot   = crimedfCom[['STATE NAME','TRAFFICED FOR (FORCED LABOUR)','TRAFFICED FOR (SEXUAL EXPLOITATION FOR PROSTITUTION)','TRAFFICED FOR (DOMESTIC SERVITUDE)','TRAFFICED FOR (FORCED MARRIAGE)','TRAFFICED FOR (PETTY CRIMES)','TRAFFICED FOR (CHILD PORNOGRAPHY)','TRAFFICED FOR (BEGGING)','TRAFFICED FOR (OTHER REASONS)']]
trafficingMotGeo =  getCrimeGeo(trafficingMot,'')
trafficingMotGeo.head()

,geo_level,geo_code,name,TRAFFICED FOR (FORCED LABOUR),TRAFFICED FOR (SEXUAL EXPLOITATION FOR PROSTITUTION),TRAFFICED FOR (DOMESTIC SERVITUDE),TRAFFICED FOR (FORCED MARRIAGE),TRAFFICED FOR (PETTY CRIMES),TRAFFICED FOR (CHILD PORNOGRAPHY),TRAFFICED FOR (BEGGING),TRAFFICED FOR (OTHER REASONS)
0,country,IN,India,10509.0,4980.0,2590.0,349.0,212.0,162.0,71.0,3824.0
1,state,1,JAMMU & KASHMIR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,state,2,HIMACHAL PRADESH,0.0,141.0,0.0,12.0,0.0,0.0,0.0,1.0
3,state,3,PUNJAB,31.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0
4,state,4,CHANDIGARH,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Violent crimes

In [11]:
viocrimes    = crimedfCom[['STATE NAME','VIOLENT (MURDER)','VIOLENT (CULPABLE HOMICIDE)','VIOLENT (DOWRY DEATHS)','VIOLENT (INFANTICIDE)','VIOLENT (FOETICIDE)','VIOLENT (ATTEMPT TO MURDER)','VIOLENT (ATTEMPT TO HOMICIDE)','VIOLENT (GRIEVOUS HURT)','VIOLENT (KIDNAPPING & ABDUCTION)','VIOLENT (RAPE)','VIOLENT (ATTEMPT TO RAPE)','VIOLENT (RIOT)','VIOLENT (ROBERY)','VIOLENT (DACOITY)','VIOLENT (ARSON)']]
viocrimesGeo = getCrimeGeo(viocrimes,'')
viocrimesGeo.head()

,geo_level,geo_code,name,VIOLENT (MURDER),VIOLENT (CULPABLE HOMICIDE),VIOLENT (DOWRY DEATHS),VIOLENT (INFANTICIDE),VIOLENT (FOETICIDE),VIOLENT (ATTEMPT TO MURDER),VIOLENT (ATTEMPT TO HOMICIDE),VIOLENT (GRIEVOUS HURT),VIOLENT (KIDNAPPING & ABDUCTION),VIOLENT (RAPE),VIOLENT (ATTEMPT TO RAPE),VIOLENT (RIOT),VIOLENT (ROBERY),VIOLENT (DACOITY),VIOLENT (ARSON)
0,country,IN,India,30450.0,3203.0,7621.0,93.0,144.0,49667.0,7527.0,89039.0,88008.0,38947.0,5729.0,61974.0,31906.0,3795.0,11196.0
1,state,1,JAMMU & KASHMIR,142.0,22.0,6.0,0.0,2.0,574.0,0.0,184.0,810.0,256.0,17.0,3410.0,59.0,6.0,268.0
2,state,2,HIMACHAL PRADESH,101.0,3.0,3.0,0.0,0.0,66.0,1.0,371.0,290.0,252.0,3.0,395.0,11.0,3.0,94.0
3,state,3,PUNJAB,771.0,120.0,80.0,8.0,4.0,862.0,59.0,2213.0,1591.0,838.0,95.0,0.0,147.0,43.0,78.0
4,state,4,CHANDIGARH,26.0,6.0,4.0,0.0,1.0,40.0,4.0,41.0,180.0,68.0,4.0,40.0,54.0,5.0,8.0

# Yearly crimes against children

In [12]:
childcrimes =  crimedfCom[['STATE NAME','CHILDREN CRIME (2014)','CHILDREN CRIME (2015)','CHILDREN CRIME (2016)']]
childcrimesGeo = getCrimeGeo(childcrimes,'')
childcrimesGeo.head()

,geo_level,geo_code,name,CHILDREN CRIME (2014),CHILDREN CRIME (2015),CHILDREN CRIME (2016)
0,country,IN,India,89423.0,94172.0,106958.0
1,state,1,JAMMU & KASHMIR,211.0,308.0,222.0
2,state,2,HIMACHAL PRADESH,467.0,477.0,467.0
3,state,3,PUNJAB,1762.0,1836.0,1843.0
4,state,4,CHANDIGARH,208.0,271.0,222.0

# Juvenile yearly crime

In [13]:
juvenilecrimes = crimedfCom[['STATE NAME','JUVENILE CRIME (2014)','JUVENILE CRIME (2015)','JUVENILE CRIME (2016)']]
juvenilecrimesGeo  = getCrimeGeo(juvenilecrimes,'')
juvenilecrimesGeo.head()

,geo_level,geo_code,name,JUVENILE CRIME (2014),JUVENILE CRIME (2015),JUVENILE CRIME (2016)
0,country,IN,India,38455.0,33433.0,35849.0
1,state,1,JAMMU & KASHMIR,102.0,181.0,198.0
2,state,2,HIMACHAL PRADESH,272.0,195.0,204.0
3,state,3,PUNJAB,277.0,111.0,117.0
4,state,4,CHANDIGARH,116.0,100.0,96.0

# Juvenile educational background

In [72]:
juveniledu  = crimedfCom[['STATE NAME','JUVENILE EDU (ILLITERATE)','JUVENILE EDU (PRIMARY)','JUVENILE EDU (ABOVE PRIMARY BELOW MATRIC)','JUVENILE EDU (MATRIC/HSC & ABOVE)']]
juvenileduGeo = getCrimeGeo(juveniledu,'')
juvenileduGeo.head()

,geo_level,geo_code,name,JUVENILE EDU (ILLITERATE),JUVENILE EDU (PRIMARY),JUVENILE EDU (ABOVE PRIMARY BELOW MATRIC),JUVENILE EDU (MATRIC/HSC & ABOVE)
0,country,IN,India,5412.0,14501.0,20014.0,4244.0
1,state,1,JAMMU & KASHMIR,17.0,61.0,194.0,47.0
2,state,2,HIMACHAL PRADESH,7.0,59.0,158.0,39.0
3,state,3,PUNJAB,25.0,40.0,82.0,10.0
4,state,4,CHANDIGARH,7.0,52.0,78.0,4.0

# Juvenile family background

In [15]:
juvenilefmlbg  = crimedfCom[['STATE NAME','JUVENILE FAMILY BG (LIVING WITH PARENTS)','JUVENILE FAMILY BG (LIVING WITH GUARDIANS)','JUVENILE FAMILY BG (HOMELESS)']]
juvenilefmlbgGeo = getCrimeGeo(juvenilefmlbg,'')
juvenilefmlbgGeo.head()

,geo_level,geo_code,name,JUVENILE FAMILY BG (LIVING WITH PARENTS),JUVENILE FAMILY BG (LIVING WITH GUARDIANS),JUVENILE FAMILY BG (HOMELESS)
0,country,IN,India,38061.0,4550.0,1560.0
1,state,1,JAMMU & KASHMIR,319.0,0.0,0.0
2,state,2,HIMACHAL PRADESH,259.0,1.0,3.0
3,state,3,PUNJAB,151.0,4.0,2.0
4,state,4,CHANDIGARH,103.0,32.0,6.0

# Murder victims in India

In [16]:
murder   = crimedfCom[['STATE NAME','MURDERED CHILD (MALE)','MURDERED CHILD (FEMALE)','MURDERED ADULT (MALE)','MURDERED ADULT (FEMALE)']]
murderGeo = getCrimeGeo(murder,'')
murderGeo.head()

,geo_level,geo_code,name,MURDERED CHILD (MALE),MURDERED CHILD (FEMALE),MURDERED ADULT (MALE),MURDERED ADULT (FEMALE)
0,country,IN,India,958.0,817.0,21650.0,8071.0
1,state,1,JAMMU & KASHMIR,4.0,2.0,139.0,23.0
2,state,2,HIMACHAL PRADESH,1.0,2.0,74.0,26.0
3,state,3,PUNJAB,35.0,23.0,562.0,184.0
4,state,4,CHANDIGARH,0.0,1.0,23.0,2.0

# Murder motives

In [17]:
murdermot = crimedfCom[['STATE NAME','PERSONAL VENDETTA OR ENMITY','PROPERTY DISPUTE','GAIN','ILLICIT RELATIONSHIP','LOVE AFFAIRS','DOWRY','WATER OR MONEY DISPUTE','ROAD RAGE','EXTREMISM / NAXALISM','CASTEISM','ROBBERY/ EXTORTION','RAPE','CLASS CONFLICT','POLITICAL REASONS','COMMUNALISM']]
murdermotGeo = getCrimeGeo(murdermot,'Murder Motivies_')
murdermotGeo.head()

,geo_level,geo_code,name,Murder Motivies_PERSONAL VENDETTA OR ENMITY,Murder Motivies_PROPERTY DISPUTE,Murder Motivies_GAIN,Murder Motivies_ILLICIT RELATIONSHIP,Murder Motivies_LOVE AFFAIRS,Murder Motivies_DOWRY,Murder Motivies_WATER OR MONEY DISPUTE,Murder Motivies_ROAD RAGE,Murder Motivies_EXTREMISM / NAXALISM,Murder Motivies_CASTEISM,Murder Motivies_ROBBERY/ EXTORTION,Murder Motivies_RAPE,Murder Motivies_CLASS CONFLICT,Murder Motivies_POLITICAL REASONS,Murder Motivies_COMMUNALISM
0,country,IN,India,5179.0,3424.0,2270.0,1671.0,1493.0,1354.0,850.0,513.0,327.0,312.0,256.0,182.0,134.0,113.0,20.0
1,state,1,JAMMU & KASHMIR,8.0,11.0,0.0,3.0,1.0,0.0,1.0,0.0,34.0,0.0,0.0,1.0,0.0,0.0,0.0
2,state,2,HIMACHAL PRADESH,13.0,4.0,2.0,8.0,4.0,0.0,5.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,state,3,PUNJAB,78.0,64.0,12.0,86.0,7.0,7.0,12.0,0.0,2.0,0.0,1.0,6.0,0.0,0.0,0.0
4,state,4,CHANDIGARH,0.0,0.0,0.0,2.0,2.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

# Corruptions cases

In [18]:
corruptionCases   = crimedfCom[['STATE NAME','CORRUPTION CASE (2014)','CORRUPTION CASE (2015)','CORRUPTION CASE (2016)']]
corruptionCasesGeo = getCrimeGeo(corruptionCases,'')
corruptionCasesGeo.head()

,geo_level,geo_code,name,CORRUPTION CASE (2014),CORRUPTION CASE (2015),CORRUPTION CASE (2016)
0,country,IN,India,4966.0,5250.0,4439.0
1,state,1,JAMMU & KASHMIR,79.0,98.0,55.0
2,state,2,HIMACHAL PRADESH,68.0,39.0,28.0
3,state,3,PUNJAB,145.0,146.0,171.0
4,state,4,CHANDIGARH,4.0,13.0,15.0

# Combined wazimap crime data

In [19]:
wazimapCrimeDF   = [rapevgeo,crimesGeo,cybercrimesGeo,kidnappedGeo,kidnappingrecCom,trafficingGeo,trafficingMotGeo,viocrimesGeo,childcrimesGeo,juvenilecrimesGeo,juvenileduGeo,juvenilefmlbgGeo,murderGeo,murdermotGeo,corruptionCasesGeo]
WazimapCrime     =  reduce(lambda left,right: pd.merge(left,right, on=['geo_level','geo_code','name']),wazimapCrimeDF)
WazimapCrime.head()

,geo_level,geo_code,name,Rape Victims_0-6,Rape Victims_6-11,Rape Victims_12-15,Rape Victims_16-17,Rape Victims_18-29,Rape Victims_30-44,Rape Victims_45-59,...,Murder Motivies_EXTREMISM / NAXALISM,Murder Motivies_CASTEISM,Murder Motivies_ROBBERY/ EXTORTION,Murder Motivies_RAPE,Murder Motivies_CLASS CONFLICT,Murder Motivies_POLITICAL REASONS,Murder Motivies_COMMUNALISM,CORRUPTION CASE (2014),CORRUPTION CASE (2015),CORRUPTION CASE (2016)
0,country,IN,India,520.0,1596.0,6091.0,8656.0,16462.0,5192.0,494.0,...,327.0,312.0,256.0,182.0,134.0,113.0,20.0,4966.0,5250.0,4439.0
1,state,1,JAMMU & KASHMIR,2.0,1.0,9.0,9.0,182.0,51.0,2.0,...,34.0,0.0,0.0,1.0,0.0,0.0,0.0,79.0,98.0,55.0
2,state,2,HIMACHAL PRADESH,6.0,13.0,67.0,62.0,81.0,23.0,6.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,68.0,39.0,28.0
3,state,3,PUNJAB,15.0,33.0,175.0,187.0,281.0,139.0,9.0,...,2.0,0.0,1.0,6.0,0.0,0.0,0.0,145.0,146.0,171.0
4,state,4,CHANDIGARH,2.0,4.0,18.0,17.0,21.0,6.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,4.0,13.0,15.0

# - - - - - - - - - - - - - - - - - - - - - -  -- - - - --  - --  - - - - -- - -  - - - - - -  --   - - - - - -  - - -

# ------------------------------  Primary health care data  ---------------------------------

# Primary health methods

In [2]:
def getHealthGeo(df):
    dfgeo = geo.merge(df ,on=['name'],how='left')
    cols = list(df.columns.values)[1:]
    dfgeoCountry = setCountryData(dfgeo,cols)
    dfgeoCountry = dfgeoCountry.dropna()
    return dfgeoCountry;

# Rural  area covered by centres

In [102]:
colsArea = list(AreaCovered.columns.values)[1:]
AreaCovereddf = AreaCovered[colsArea]
AreaCovereddf = AreaCovereddf.rename(index=str, columns={'Average Rural Area [Sq. Km.] covered by a sub Centre':'Rural_Area[Sq. Km.]_Sub Centre','Average Rural Area [Sq. Km.] covered by a PHC':'Rural_AreaArea[Sq. Km.]_PHCS','Average Rural Area [Sq. Km.] covered by a CHC':'Rural_AreaArea[Sq. Km.]_CHCS','Average Radial Distance [Kms] covered by a sub Centre':'Rural_Rdistance[Kms]_Sub Centre','Average Radial Distance [Kms] covered by a PHC':'Rural_Rdistance[Kms]_PHCS','Average Radial Distance [Kms] covered by a CHC':'Rural_Rdistance[Kms]_CHCS','State/ UT':'name'})
AreaCovereddf = AreaCovereddf.round()
AreaCovereddf['name'] = AreaCovereddf['name'].str.upper().str.strip()
AreaCovereddf.replace('A & N ISLANDS','ANDAMAN & NICOBAR ISLANDS',inplace=True)
AreaCovereddf.replace('DELHI','NCT OF DELHI',inplace=True)
AreaCovereddf.replace('D & N HAVELI','DADRA & NAGAR HAVELI',inplace=True)
AreaCovereddf  = AreaCovereddf.fillna(0)
AreaCoveredgeo = getHealthGeo(AreaCovereddf)
AreaCoveredgeo.head()

,geo_level,geo_code,name,Rural_Area[Sq. Km.]_Sub Centre,Rural_AreaArea[Sq. Km.]_PHCS,Rural_AreaArea[Sq. Km.]_CHCS,Rural_Rdistance[Kms]_Sub Centre,Rural_Rdistance[Kms]_PHCS,Rural_Rdistance[Kms]_CHCS
0,country,IN,India,736.0,4238.0,22414.0,82.0,195.0,425.0
1,state,1,JAMMU & KASHMIR,74.0,347.0,2631.0,5.0,11.0,29.0
2,state,2,HIMACHAL PRADESH,27.0,103.0,622.0,3.0,6.0,14.0
3,state,3,PUNJAB,1.0,5.0,14.0,0.0,1.0,2.0
4,state,4,CHANDIGARH,0.0,1.0,2.0,0.0,1.0,1.0

# Villages covered by centres

In [104]:
VillageCovereddf = VillageCovered[['State/ UT','Average Number of Villages covered by a sub Centre','Average Number of Villages covered by a PHC','Average Number of Villages covered by a CHC']]
VillageCovereddf = VillageCovereddf.rename(index=str, columns={'Average Number of Villages covered by a sub Centre':'Villages Covered_Sub Centre','Average Number of Villages covered by a PHC':'Villages Covered_PHCS','Average Number of Villages covered by a CHC':'Villages Covered_CHCS','State/ UT':'name'})
VillageCovereddf['name'] = VillageCovereddf['name'].str.upper()
VillageCovereddf.replace('A & N ISLANDS','ANDAMAN & NICOBAR ISLANDS',inplace=True)
VillageCovereddf.replace('DELHI','NCT OF DELHI',inplace=True)
VillageCovereddf.replace('D & N HAVELI','DADRA & NAGAR HAVELI',inplace=True)
VillageCovereddf  = VillageCovereddf.fillna(0)
VillageCoveredgeo = getHealthGeo(VillageCovereddf)
VillageCoveredgeo.head()

,geo_level,geo_code,name,Villages Covered_Sub Centre,Villages Covered_PHCS,Villages Covered_CHCS
0,country,IN,India,160.0,863.0,3720.0
1,state,1,JAMMU & KASHMIR,2.0,10.0,78.0
2,state,2,HIMACHAL PRADESH,10.0,38.0,232.0
3,state,3,PUNJAB,4.0,29.0,83.0
4,state,4,CHANDIGARH,0.0,2.0,3.0

# Rural population covered by centres

In [106]:
colsPop = list(RuralPopCovered.columns.values)[1:]
RuralPopCovereddf = RuralPopCovered[colsPop]
RuralPopCovereddf.columns = RuralPopCovereddf.columns.str.split(']').str[1].str.strip()
RuralPopCovereddf = RuralPopCovereddf.rename(index=str, columns={np.nan:'name','covered by a Sub Centre':'PopulationR_Covered_Sub Centre','covered by a PHC':'PopulationR_Covered_PHCS','covered by a CHC':'PopulationR_Covered_CHCS'})
RuralPopCovereddf['name'] = RuralPopCovereddf['name'].str.upper()
RuralPopCovereddf.replace('A & N ISLANDS','ANDAMAN & NICOBAR ISLANDS',inplace=True)
RuralPopCovereddf.replace('DELHI','NCT OF DELHI',inplace=True)
RuralPopCovereddf.replace('D & N HAVELI','DADRA & NAGAR HAVELI',inplace=True)
RuralPopCovereddf  = RuralPopCovereddf.fillna(0)
RuralPopCoveredgeo = getHealthGeo(RuralPopCovereddf)
RuralPopCoveredgeo.head()

,geo_level,geo_code,name,PopulationR_Covered_Sub Centre,PopulationR_Covered_PHCS,PopulationR_Covered_CHCS
0,country,IN,India,187346.0,1001937.0,4387064.0
1,state,1,JAMMU & KASHMIR,3070.0,14298.0,108429.0
2,state,2,HIMACHAL PRADESH,2965.0,11480.0,69394.0
3,state,3,PUNJAB,5879.0,40149.0,114862.0
4,state,4,CHANDIGARH,1705.0,9664.0,14496.0

# Allopathic doctors in PHCs

In [1]:
AlloDocPHCSdf = AlloDocPHCS[['State/ UT','Required - [R]','In Position - [P]']]
AlloDocPHCSdf = AlloDocPHCSdf.rename(index=str, columns={'Required - [R]': 'Allopathic doctor_PHCS_Required','In Position - [P]':'Allopathic doctor_PHCS_Available','State/ UT':'name'})
AlloDocPHCSdf['name'] = AlloDocPHCSdf['name'].str.upper()
AlloDocPHCSdf.replace('A & N ISLANDS','ANDAMAN & NICOBAR ISLANDS',inplace=True)
AlloDocPHCSdf.replace('DELHI','NCT OF DELHI',inplace=True)
AlloDocPHCSdf.replace('D & N HAVELI','DADRA & NAGAR HAVELI',inplace=True)
AlloDocPHCSdf  = AlloDocPHCSdf.fillna(0)
AlloDocPHCSgeo = getHealthGeo(AlloDocPHCSdf)
AlloDocPHCSgeo.head()

NameError: name 'AlloDocPHCS' is not defined

# Dis and sub-dis doctors

In [113]:
DisSubdisDocdf = DisSubdisDoc[['State/ UT','District Hospital - In Position','Sub District/ Sub Divisional Hospital - In Position']]
DisSubdisDocdf = DisSubdisDocdf.rename(index=str, columns={'District Hospital - In Position': 'Doctors_District Hospital','Sub District/ Sub Divisional Hospital - In Position':'Doctors_Sub District Hospital','State/ UT':'name'})
DisSubdisDocdf['name'] = DisSubdisDocdf['name'].str.upper()
DisSubdisDocdf.replace('A & N ISLANDS','ANDAMAN & NICOBAR ISLANDS',inplace=True)
DisSubdisDocdf.replace('DELHI','NCT OF DELHI',inplace=True)
DisSubdisDocdf.replace('D & N HAVELI','DADRA & NAGAR HAVELI',inplace=True)
DisSubdisDocdf  = DisSubdisDocdf.fillna(0)
DisSubdisDocgeo = getHealthGeo(DisSubdisDocdf)
DisSubdisDocgeo.head()

,geo_level,geo_code,name,Doctors_District Hospital,Doctors_Sub District Hospital
0,country,IN,India,20809.0,13353.0
1,state,1,JAMMU & KASHMIR,844.0,0.0
2,state,2,HIMACHAL PRADESH,442.0,495.0
3,state,3,PUNJAB,655.0,597.0
4,state,4,CHANDIGARH,179.0,34.0

# Physicians in CHCs

In [117]:
PhysicianCHCSdf = PhysicianCHCS[['State/ UT','Required - [R]','In Position - [P]']]
PhysicianCHCSdf = PhysicianCHCSdf.rename(index=str, columns={'Required - [R]' :'Physician_Required_CHCS','In Position - [P]':'Physician_Available_CHCS','State/ UT':'name'})
PhysicianCHCSdf['name'] = PhysicianCHCSdf['name'].str.upper()
PhysicianCHCSdf.replace('A & N ISLANDS','ANDAMAN & NICOBAR ISLANDS',inplace=True)
PhysicianCHCSdf.replace('DELHI','NCT OF DELHI',inplace=True)
PhysicianCHCSdf.replace('D & N HAVELI','DADRA & NAGAR HAVELI',inplace=True)
PhysicianCHCSdf  =  PhysicianCHCSdf.fillna(0)
PhysicianCHCSgeo = getHealthGeo(PhysicianCHCSdf)
PhysicianCHCSgeo.head()

,geo_level,geo_code,name,Physician_Required_CHCS,Physician_Available_CHCS
0,country,IN,India,5620.0,864.0
1,state,1,JAMMU & KASHMIR,84.0,45.0
2,state,2,HIMACHAL PRADESH,89.0,5.0
3,state,3,PUNJAB,151.0,48.0
4,state,4,CHANDIGARH,2.0,1.0

# Surgeons in CHCS

In [120]:
SurgeonCHCSdf = SurgeonCHCS[['State/ UT','Required - [R]','In Position - [P]']]
SurgeonCHCSdf  = SurgeonCHCSdf .rename(index=str, columns={'Required - [R]' :'Surgeon_Required_CHCS','In Position - [P]':'Surgeon_Available_CHCS','State/ UT':'name'})
SurgeonCHCSdf['name'] = SurgeonCHCSdf['name'].str.upper()
SurgeonCHCSdf.replace('A & N ISLANDS','ANDAMAN & NICOBAR ISLANDS',inplace=True)
SurgeonCHCSdf.replace('DELHI','NCT OF DELHI',inplace=True)
SurgeonCHCSdf.replace('D & N HAVELI','DADRA & NAGAR HAVELI',inplace=True)
SurgeonCHCSdf  =  SurgeonCHCSdf.fillna(0)
SurgeonCHCSgeo = getHealthGeo(SurgeonCHCSdf)
SurgeonCHCSgeo.head()

,geo_level,geo_code,name,Surgeon_Required_CHCS,Surgeon_Available_CHCS
0,country,IN,India,5620.0,758.0
1,state,1,JAMMU & KASHMIR,84.0,43.0
2,state,2,HIMACHAL PRADESH,89.0,4.0
3,state,3,PUNJAB,151.0,50.0
4,state,4,CHANDIGARH,2.0,0.0

# Radiographer in CHCS

In [122]:
RadiographerCHCSdf  = RadiographerCHCS[['State/ UT','Required - [R]','In Position - [P]']]
RadiographerCHCSdf  = RadiographerCHCSdf .rename(index=str, columns={'Required - [R]' :'Radiographer_Required_CHCS','In Position - [P]':'Radiographer_Available_CHCS','State/ UT':'name'})
RadiographerCHCSdf['name'] = RadiographerCHCSdf['name'].str.upper()
RadiographerCHCSdf.replace('A & N ISLANDS','ANDAMAN & NICOBAR ISLANDS',inplace=True)
RadiographerCHCSdf.replace('DELHI','NCT OF DELHI',inplace=True)
RadiographerCHCSdf.replace('D & N HAVELI','DADRA & NAGAR HAVELI',inplace=True)
RadiographerCHCSdf =  RadiographerCHCSdf.fillna(0)
RadiographerCHCSgeo = getHealthGeo(RadiographerCHCSdf)
RadiographerCHCSgeo.head()

,geo_level,geo_code,name,Radiographer_Required_CHCS,Radiographer_Available_CHCS
0,country,IN,India,5620.0,2129.0
1,state,1,JAMMU & KASHMIR,84.0,210.0
2,state,2,HIMACHAL PRADESH,89.0,33.0
3,state,3,PUNJAB,151.0,129.0
4,state,4,CHANDIGARH,2.0,5.0

# Year wise PHCS functioning

In [124]:
colsPHCS = list(FunctioningPHCS.columns.values)[1:]
FunctioningPHCSdf = FunctioningPHCS[colsPHCS]
FunctioningPHCSdf.columns = FunctioningPHCSdf.columns.str.split('[').str[1].str.split(']').str[0]
FunctioningPHCSdf.columns = ['PHCS_' + str(col) for col in FunctioningPHCSdf]
FunctioningPHCSdf = FunctioningPHCSdf.rename(index=str, columns={'PHCS_nan':'name'})
FunctioningPHCSdf['name'] = FunctioningPHCSdf['name'].str.upper()
FunctioningPHCSdf.replace('A & N ISLANDS','ANDAMAN & NICOBAR ISLANDS',inplace=True)
FunctioningPHCSdf.replace('DELHI','NCT OF DELHI',inplace=True)
FunctioningPHCSdf.replace('D & N HAVELI','DADRA & NAGAR HAVELI',inplace=True)
FunctioningPHCSdf=  FunctioningPHCSdf.fillna(0)
FunctioningPHCSgeo = getHealthGeo(FunctioningPHCSdf)
FunctioningPHCSgeo.head()

,geo_level,geo_code,name,PHCS_1981-85,PHCS_1985-90,PHCS_1992-97,PHCS_1997-2002,PHCS_2002-07,PHCS_2007-12,PHCS_2012-17
0,country,IN,India,9109.0,18657.0,22132.0,22857.0,22350.0,24027.0,25628.0
1,state,1,JAMMU & KASHMIR,123.0,266.0,335.0,337.0,374.0,396.0,637.0
2,state,2,HIMACHAL PRADESH,106.0,190.0,260.0,302.0,443.0,472.0,538.0
3,state,3,PUNJAB,130.0,460.0,484.0,484.0,484.0,449.0,432.0
4,state,4,CHANDIGARH,0.0,0.0,0.0,0.0,0.0,0.0,3.0

# Year wise CHCS functioning

In [126]:
colsCHCS = list(FunctioningCHCS.columns.values)[1:]
FunctioningCHCSdf =  FunctioningCHCS[colsCHCS]
FunctioningCHCSdf.columns = FunctioningCHCSdf.columns.str.split('[').str[1].str.split(']').str[0]
FunctioningCHCSdf.columns = ['CHCS_' + str(col) for col in FunctioningCHCSdf]
FunctioningCHCSdf = FunctioningCHCSdf.rename(index=str, columns={'CHCS_nan':'name'})
FunctioningCHCSdf['name'] = FunctioningCHCSdf['name'].str.upper()
FunctioningCHCSdf.replace('A & N ISLANDS','ANDAMAN & NICOBAR ISLANDS',inplace=True)
FunctioningCHCSdf.replace('DELHI','NCT OF DELHI',inplace=True)
FunctioningCHCSdf.replace('D & N HAVELI','DADRA & NAGAR HAVELI',inplace=True)
FunctioningCHCSdf =  FunctioningCHCSdf.fillna(0)
FunctioningCHCSgeo = getHealthGeo(FunctioningCHCSdf)
FunctioningCHCSgeo.head()

,geo_level,geo_code,name,CHCS_1981-85,CHCS_1985-90,CHCS_1992-97,CHCS_1997-2002,CHCS_2002-07,CHCS_2007-12,CHCS_2012-17
0,country,IN,India,761.0,1907.0,2629.0,3050.0,4041.0,4829.0,5620.0
1,state,1,JAMMU & KASHMIR,19.0,33.0,45.0,53.0,80.0,84.0,84.0
2,state,2,HIMACHAL PRADESH,28.0,35.0,42.0,65.0,71.0,76.0,89.0
3,state,3,PUNJAB,10.0,70.0,105.0,105.0,126.0,132.0,151.0
4,state,4,CHANDIGARH,1.0,1.0,1.0,1.0,2.0,2.0,2.0

# Year wise subcentre functioning

In [128]:
colsSubC = list(FunctioningSubcen.columns.values)[1:]
FunctioningSubcendf =  FunctioningSubcen[colsSubC]
FunctioningSubcendf.columns = FunctioningSubcendf.columns.str.split('[').str[1].str.split(']').str[0]
FunctioningSubcendf.columns = ['SubCentre_' + str(col) for col in FunctioningSubcendf]
FunctioningSubcendf = FunctioningSubcendf.rename(index=str, columns={'SubCentre_nan':'name'})
FunctioningSubcendf['name'] = FunctioningSubcendf['name'].str.upper()
FunctioningSubcendf.replace('A & N ISLANDS','ANDAMAN & NICOBAR ISLANDS',inplace=True)
FunctioningSubcendf.replace('DELHI','NCT OF DELHI',inplace=True)
FunctioningSubcendf.replace('D & N HAVELI','DADRA & NAGAR HAVELI',inplace=True)
FunctioningSubcendf=  FunctioningSubcendf.fillna(0)
FunctioningSubcengeo = getHealthGeo(FunctioningSubcendf)
FunctioningSubcengeo.head()

,geo_level,geo_code,name,SubCentre_1981-85,SubCentre_1985-90,SubCentre_1992-97,SubCentre_1997-2002,SubCentre_2002-07,SubCentre_2007-12,SubCentre_2012-17
0,country,IN,India,84344.0,130081.0,136162.0,137211.0,145164.0,148247.0,156108.0
1,state,1,JAMMU & KASHMIR,609.0,1460.0,1700.0,1700.0,1888.0,1907.0,2967.0
2,state,2,HIMACHAL PRADESH,1299.0,1851.0,1980.0,2069.0,2071.0,2065.0,2083.0
3,state,3,PUNJAB,2602.0,2852.0,2852.0,2852.0,2858.0,2951.0,2950.0
4,state,4,CHANDIGARH,12.0,12.0,12.0,13.0,13.0,16.0,17.0

# Workers at subcentre

In [131]:
WorkerMaleSubCendf =  WorkerMaleSubCen[['State/ UT','Required - [R]','In Position - [P]']]
WorkerMaleSubCendf =  WorkerMaleSubCendf.rename(index=str, columns={'Required - [R]':'Workers_Required_SubCen_Male','In Position - [P]':'Workers_Available_SuBCen_Male'})
WorkerMaleSubCendf

WorkerFemaleSubCendf = WorkerFemaleSubCen[['State/ UT','Required - [R]','In Position - [P]']]
WorkerFemaleSubCendf = WorkerFemaleSubCendf.rename(index=str, columns={'Required - [R]':'Workers_Required_SubCen_Female','In Position - [P]':'Workers_Available_SuBCen_Female'})
WorkerFemaleSubCendf

WorkersSubCen = pd.merge(WorkerMaleSubCendf,WorkerFemaleSubCendf, on =['State/ UT'])
WorkersSubCen = WorkersSubCen.rename(index=str, columns={'State/ UT':'name'})
WorkersSubCen['name'] = WorkersSubCen['name'].str.upper()
WorkersSubCen.replace('A & N ISLANDS','ANDAMAN & NICOBAR ISLANDS',inplace=True)
WorkersSubCen.replace('DELHI','NCT OF DELHI',inplace=True)
WorkersSubCen.replace('D & N HAVELI','DADRA & NAGAR HAVELI',inplace=True)
WorkersSubCen    =  WorkersSubCen.fillna(0)
WorkersSubCengeo = getHealthGeo(WorkersSubCen)
WorkersSubCengeo.head()

,geo_level,geo_code,name,Workers_Required_SubCen_Male,Workers_Available_SuBCen_Male,Workers_Required_SubCen_Female,Workers_Available_SuBCen_Female
0,country,IN,India,156108.0,56218.0,156108.0,198115.0
1,state,1,JAMMU & KASHMIR,2967.0,672.0,2967.0,4225.0
2,state,2,HIMACHAL PRADESH,2083.0,829.0,2083.0,1686.0
3,state,3,PUNJAB,2950.0,1424.0,2950.0,4674.0
4,state,4,CHANDIGARH,17.0,2.0,17.0,24.0

# Assistant at PHCS

In [133]:
AssisMalePHCSdf = AssisMalePHCS[['State/ UT','Required - [R]','In Position - [P]']]
AssisMalePHCSdf =  AssisMalePHCSdf.rename(index=str, columns={'Required - [R]':'Assistant_Required_PHCS_Male','In Position - [P]':'Assistant_Available_PHCS_Male'})
AssisMalePHCSdf

AssisFemalePHCSdf =  AssisFemalePHCS[['State/ UT','Required - [R]','In Position - [P]']]
AssisFemalePHCSdf =  AssisFemalePHCSdf.rename(index=str, columns={'Required - [R]':'Assistant_Required_PHCS_Female','In Position - [P]':'Assistant_Available_PHCS_Female'})
AssisFemalePHCSdf

AssistantPHCS   = pd.merge(AssisMalePHCSdf,AssisFemalePHCSdf, on =['State/ UT'])
AssistantPHCS = AssistantPHCS.rename(index=str, columns={'State/ UT':'name'})
AssistantPHCS['name'] = AssistantPHCS['name'].str.upper()
AssistantPHCS.replace('A & N ISLANDS','ANDAMAN & NICOBAR ISLANDS',inplace=True)
AssistantPHCS.replace('DELHI','NCT OF DELHI',inplace=True)
AssistantPHCS.replace('D & N HAVELI','DADRA & NAGAR HAVELI',inplace=True)
AssistantPHCS=  AssistantPHCS.fillna(0)
AssistantPHCSgeo = getHealthGeo(AssistantPHCS)
AssistantPHCSgeo.head()

,geo_level,geo_code,name,Assistant_Required_PHCS_Male,Assistant_Available_PHCS_Male,Assistant_Required_PHCS_Female,Assistant_Available_PHCS_Female
0,country,IN,India,25628.0,12277.0,25628.0,14247.0
1,state,1,JAMMU & KASHMIR,637.0,26.0,637.0,99.0
2,state,2,HIMACHAL PRADESH,538.0,46.0,538.0,0.0
3,state,3,PUNJAB,432.0,268.0,432.0,502.0
4,state,4,CHANDIGARH,3.0,0.0,3.0,3.0

# Nursing staff at PHCS and CHCS

In [137]:
NurseStaffPHCCHCdf = NurseStaffPHCCHC[['State/ UT','Required - [R]','In Position - [P]']]
NurseStaffPHCCHCdf = NurseStaffPHCCHCdf.rename(index=str, columns={'Required - [R]':'NurseStaff_Required_PHCS_CHCS','In Position - [P]':'NurseStaff_Available_PHCS_CHCS','State/ UT':'name'})
NurseStaffPHCCHCdf = NurseStaffPHCCHCdf.rename(index=str, columns={'SubCentre_nan':'name'})
NurseStaffPHCCHCdf['name'] = NurseStaffPHCCHCdf['name'].str.upper()
NurseStaffPHCCHCdf.replace('A & N ISLANDS','ANDAMAN & NICOBAR ISLANDS',inplace=True)
NurseStaffPHCCHCdf.replace('DELHI','NCT OF DELHI',inplace=True)
NurseStaffPHCCHCdf.replace('D & N HAVELI','DADRA & NAGAR HAVELI',inplace=True)
NurseStaffPHCCHCdf=  NurseStaffPHCCHCdf.fillna(0)
NurseStaffPHCCHCgeo = getHealthGeo(NurseStaffPHCCHCdf)
NurseStaffPHCCHCgeo.head()

,geo_level,geo_code,name,NurseStaff_Required_PHCS_CHCS,NurseStaff_Available_PHCS_CHCS
0,country,IN,India,64968.0,70545.0
1,state,1,JAMMU & KASHMIR,1225.0,1480.0
2,state,2,HIMACHAL PRADESH,1161.0,542.0
3,state,3,PUNJAB,1489.0,2019.0
4,state,4,CHANDIGARH,17.0,80.0

# CHCS facilities

In [140]:
colsFacCHC = list(FacilitiesCHCS.columns.values)
FacilitiesCHCSdf = FacilitiesCHCS[colsFacCHC]
FacilitiesCHCSdf.columns = FacilitiesCHCSdf.columns.str.split('-').str[1].str.strip()
FacilitiesCHCSdf  = FacilitiesCHCSdf.rename(index=str, columns={'With functional Laboratory':'Laboratory','With functional O.T.':'O.T','With functional Labor Room':'Labor Room','With New Born Care Corner':'New Born Care Corner','With functional X':'X-ray','With quarters for specialist Doctors':'Specialist Doctors Quarter','Allopathic drugs for common ailments':'Allopatic Drugs','AYUSH drugs for common ailments':'Ayush Drugs','With referral transport available':'Referral Transport','With at least 30 beds':'Min 30 beds'})
FacilitiesCHCSFdf = FacilitiesCHCSdf[['Col. 1','Min 30 beds','Laboratory','O.T','Labor Room','New Born Care Corner','X-ray','Specialist Doctors Quarter','Referral Transport','Allopatic Drugs','Ayush Drugs']]
FacilitiesCHCSFdf.columns = ['Facilities_CHCS_' + str(col) for col in FacilitiesCHCSFdf]
FacilitiesCHCSFdf = FacilitiesCHCSFdf.rename(index=str, columns={'Facilities_CHCS_Col. 1':'name'})
FacilitiesCHCSFdf['name'] = FacilitiesCHCSFdf['name'].str.upper()
FacilitiesCHCSFdf.replace('A & N ISLANDS','ANDAMAN & NICOBAR ISLANDS',inplace=True)
FacilitiesCHCSFdf.replace('DELHI','NCT OF DELHI',inplace=True)
FacilitiesCHCSFdf.replace('D & N HAVELI','DADRA & NAGAR HAVELI',inplace=True)
FacilitiesCHCSFdf=  FacilitiesCHCSFdf.fillna(0)
FacilitiesCHCSgeo = getHealthGeo(FacilitiesCHCSFdf)
FacilitiesCHCSgeo.head()

,geo_level,geo_code,name,Facilities_CHCS_Min 30 beds,Facilities_CHCS_Laboratory,Facilities_CHCS_O.T,Facilities_CHCS_Labor Room,Facilities_CHCS_New Born Care Corner,Facilities_CHCS_X-ray,Facilities_CHCS_Specialist Doctors Quarter,Facilities_CHCS_Referral Transport,Facilities_CHCS_Allopatic Drugs,Facilities_CHCS_Ayush Drugs
0,country,IN,India,4079.0,5299.0,4692.0,5182.0,4718.0,3118.0,2813.0,5213.0,5414.0,3411.0
1,state,1,JAMMU & KASHMIR,56.0,84.0,67.0,84.0,67.0,83.0,45.0,84.0,84.0,38.0
2,state,2,HIMACHAL PRADESH,14.0,70.0,66.0,67.0,46.0,67.0,13.0,89.0,89.0,0.0
3,state,3,PUNJAB,151.0,145.0,138.0,144.0,125.0,118.0,87.0,130.0,151.0,138.0
4,state,4,CHANDIGARH,2.0,2.0,2.0,2.0,2.0,2.0,0.0,2.0,2.0,1.0

# PHCS facilities

In [143]:
colsFacPHC = list(FacilitiesPHCS.columns.values)
FacilitiesPHCSdf = FacilitiesPHCS[colsFacPHC]
FacilitiesPHCSdf.drop([col for col in FacilitiesPHCSdf.columns if '%' in col],axis=1,inplace=True)
FacilitiesPHCSdf.drop([col for col in FacilitiesPHCSdf.columns if 'Without' in col],axis=1,inplace=True)
FacilitiesPHCSdf.drop(['S. No.', 'Registered RKS','No. of PHCs Functioning as per IPHS norms','Number of PHCs Functioning','Number of Primary Health Centres - PHCs functoning on 24X7 basis - Number'],axis=1,inplace=True)
FacilitiesPHCSdf.columns = FacilitiesPHCSdf.columns.str.split('-').str[1].str.strip()
FacilitiesPHCSdf = FacilitiesPHCSdf.rename(index=str, columns={'With Labour Room':'Labour Room','With OT':'OT','With at least 4 beds':'Min 4 Beds','With Telephone':'Telephone','With Computer':'Computer'})
FacilitiesPHCSdf.columns = ['Facilities_PHCS_' + str(col) for col in FacilitiesPHCSdf]
FacilitiesPHCSdf = FacilitiesPHCSdf.rename(index=str, columns={'Facilities_PHCS_nan':'name'})
FacilitiesPHCSdf['name'] = FacilitiesPHCSdf['name'].str.upper()
FacilitiesPHCSdf.replace('A & N ISLANDS','ANDAMAN & NICOBAR ISLANDS',inplace=True)
FacilitiesPHCSdf.replace('DELHI','NCT OF DELHI',inplace=True)
FacilitiesPHCSdf.replace('D & N HAVELI','DADRA & NAGAR HAVELI',inplace=True)
FacilitiesPHCSdf=  FacilitiesPHCSdf.fillna(0)
FacilitiesPHCSgeo = getHealthGeo(FacilitiesPHCSdf)
FacilitiesPHCSgeo.head()

,geo_level,geo_code,name,Facilities_PHCS_Labour Room,Facilities_PHCS_OT,Facilities_PHCS_Min 4 Beds,Facilities_PHCS_Telephone,Facilities_PHCS_Computer,Facilities_PHCS_Referral Transport
0,country,IN,India,17666.0,9402.0,19537.0,13896.0,16667.0,14149.0
1,state,1,JAMMU & KASHMIR,347.0,14.0,421.0,67.0,510.0,375.0
2,state,2,HIMACHAL PRADESH,187.0,131.0,130.0,200.0,185.0,538.0
3,state,3,PUNJAB,272.0,110.0,257.0,88.0,118.0,128.0
4,state,4,CHANDIGARH,0.0,0.0,0.0,1.0,2.0,3.0

# Area wise infant mortality rate

In [148]:
InfantMorRatedf = InfantMorRate[['State/ UT','Infant Mortality Rate [IMR] - Rural','Infant Mortality Rate [IMR] - Urban']]
InfantMorRatedf = InfantMorRatedf.rename(index=str, columns={'State/ UT':'name'})
InfantMorRatedf['name'] = InfantMorRatedf['name'].str.upper()
InfantMorRatedf.replace('A & N ISLANDS','ANDAMAN & NICOBAR ISLANDS',inplace=True)
InfantMorRatedf.replace('DELHI','NCT OF DELHI',inplace=True)
InfantMorRatedf.replace('D & N HAVELI','DADRA & NAGAR HAVELI',inplace=True)
InfantMorRatedf=  InfantMorRatedf.fillna(0)
InfantMorRategeo = getHealthGeo(InfantMorRatedf)
InfantMorRategeo.head()

,geo_level,geo_code,name,Infant Mortality Rate [IMR] - Rural,Infant Mortality Rate [IMR] - Urban
0,country,IN,India,999.0,724.0
1,state,1,JAMMU & KASHMIR,25.0,23.0
2,state,2,HIMACHAL PRADESH,25.0,19.0
3,state,3,PUNJAB,23.0,18.0
4,state,4,CHANDIGARH,6.0,14.0

# Pharmacist in PHCS & CHCS

In [150]:
PharmacistPHCCHCdf = PharmacistPHCCHC[['State/ UT','Required - [R]','In Position - [P]']]
PharmacistPHCCHCdf = PharmacistPHCCHCdf.rename(index=str, columns={'Required - [R]':'Pharmacist_PHCS_CHCS_Required','In Position - [P]':'Pharmacist_PHCS_CHCS_Available','State/ UT':'name'})
PharmacistPHCCHCdf  = PharmacistPHCCHCdf .rename(index=str, columns={'SubCentre_nan':'name'})
PharmacistPHCCHCdf ['name'] = PharmacistPHCCHCdf ['name'].str.upper()
PharmacistPHCCHCdf .replace('A & N ISLANDS','ANDAMAN & NICOBAR ISLANDS',inplace=True)
PharmacistPHCCHCdf .replace('DELHI','NCT OF DELHI',inplace=True)
PharmacistPHCCHCdf .replace('D & N HAVELI','DADRA & NAGAR HAVELI',inplace=True)
PharmacistPHCCHCdf  =  PharmacistPHCCHCdf .fillna(0)
PharmacistPHCCHCgeo = getHealthGeo(PharmacistPHCCHCdf)
PharmacistPHCCHCgeo.head()

,geo_level,geo_code,name,Pharmacist_PHCS_CHCS_Required,Pharmacist_PHCS_CHCS_Available
0,country,IN,India,31248.0,25144.0
1,state,1,JAMMU & KASHMIR,721.0,737.0
2,state,2,HIMACHAL PRADESH,627.0,394.0
3,state,3,PUNJAB,583.0,779.0
4,state,4,CHANDIGARH,5.0,21.0

# Functioning PHCS

In [153]:
FuctioningPHCSdf = FuctioningPHCS[['State/ UT','Number of PHCs functioning - with 4+ - doctors','Number of PHCs functioning - with 3 - doctors','Number of PHCs functioning - with 2 - doctors','Number of PHCs functioning - with 1 - doctor','Number of PHCs functioning - without - doctor','Number of PHCs functioning - without - lab tech.','Number of PHCs functioning - without - pharma.','Number of PHCs functioning - with - lady - doctor']]
FuctioningPHCSdf = FuctioningPHCSdf.rename(index=str, columns={'Number of PHCs functioning - with 4+ - doctors':'PHCS_Functioning_With 4+ doctors','Number of PHCs functioning - with 3 - doctors':'PHCS_Functioning_With 3 doctors','Number of PHCs functioning - with 2 - doctors':'PHCS_Functioning_With 2 doctors','Number of PHCs functioning - with 1 - doctor':'PHCS_Functioning_With 1 doctor','Number of PHCs functioning - without - doctor':'PHCS_Functioning_Without doctor','Number of PHCs functioning - without - lab tech.':'PHCS_Functioning_Without lab tech','Number of PHCs functioning - without - pharma.':'PHCS_Functioning_Without pharma','Number of PHCs functioning - with - lady - doctor':'PHCS_Functioning_Without lady doctor','State/ UT':'name'})
FuctioningPHCSdf  = FuctioningPHCSdf .rename(index=str, columns={'SubCentre_nan':'name'})
FuctioningPHCSdf ['name'] = FuctioningPHCSdf ['name'].str.upper()
FuctioningPHCSdf .replace('A & N ISLANDS','ANDAMAN & NICOBAR ISLANDS',inplace=True)
FuctioningPHCSdf .replace('DELHI','NCT OF DELHI',inplace=True)
FuctioningPHCSdf .replace('D & N HAVELI','DADRA & NAGAR HAVELI',inplace=True)
FuctioningPHCSdf =  FuctioningPHCSdf .fillna(0)
FuctioningPHCSgeo = getHealthGeo(FuctioningPHCSdf)
FuctioningPHCSgeo.head()

,geo_level,geo_code,name,PHCS_Functioning_With 4+ doctors,PHCS_Functioning_With 3 doctors,PHCS_Functioning_With 2 doctors,PHCS_Functioning_With 1 doctor,PHCS_Functioning_Without doctor,PHCS_Functioning_Without lab tech,PHCS_Functioning_Without pharma,PHCS_Functioning_Without lady doctor
0,country,IN,India,956.0,742.0,6296.0,15699.0,1974.0,9182.0,4744.0,6598.0
1,state,1,JAMMU & KASHMIR,71.0,96.0,169.0,180.0,121.0,294.0,62.0,239.0
2,state,2,HIMACHAL PRADESH,0.0,3.0,20.0,469.0,69.0,446.0,229.0,95.0
3,state,3,PUNJAB,15.0,18.0,121.0,240.0,38.0,149.0,38.0,184.0
4,state,4,CHANDIGARH,0.0,1.0,1.0,2.0,0.0,0.0,0.0,2.0

# Primary health care combined dataframe

In [155]:
#PrimaryHealthDF     = [AreaCovereddf,VillageCovereddf,RuralPopCovereddf,AlloDocPHCSdf,DisSubdisDocdf,PhysicianCHCSdf,SurgeonCHCSdf,RadiographerCHCSdf,FunctioningPHCSdf,FunctioningCHCSdf,FunctioningSubcendf,WorkersSubCen,AssistantPHCS,NurseStaffPHCCHCdf,FacilitiesCHCSFdf,FacilitiesPHCSdf,InfantMorRatedf,PharmacistPHCCHCdf,FuctioningPHCSdf]
#PrimaryHealthgeo     =  reduce(lambda left,right: pd.merge(left,right, on=['State/ UT']),PrimaryHealthDF)
#PrimaryHealthgeo

# District wise health care centres

In [108]:
cols = list(DWHealthCareCen.columns.values)[1:]
DWHealthCareCendf = DWHealthCareCen[cols]
DWHealthCareCendf.columns = ['DW_' + str(col) for col in DWHealthCareCendf]
DWHealthCareCendf = DWHealthCareCendf.rename(index=str, columns={'DW_States/Union Territories':'name'})
DWHealthCareCendf['name'] = DWHealthCareCendf['name'].str.upper()
DWHealthCareCendf.replace('A & N ISLANDS','ANDAMAN & NICOBAR ISLANDS',inplace=True)
DWHealthCareCendf.replace('DELHI','NCT OF DELHI',inplace=True)
DWHealthCareCendf.replace('D & N HAVELI','DADRA & NAGAR HAVELI',inplace=True)
DWHealthCareCendf = DWHealthCareCendf[DWHealthCareCendf.DW_District.str.contains("Total") == False]
DWHealthCareCendf.head()

,name,DW_District,DW_Sub Centres,DW_PHCs,DW_CHCs,DW_Sub Divisional Hospital,DW_District Hospital
0,ANDHRA PRADESH,Srikakulam,465,80,16,2,0.0
1,ANDHRA PRADESH,Vizianagaram,431,68,11,1,1.0
2,ANDHRA PRADESH,Visakhapatnam,583,89,11,2,0.0
3,ANDHRA PRADESH,East Godavari,840,128,26,3,1.0
4,ANDHRA PRADESH,West Godavari,635,91,14,3,1.0

# Primary health care combined dataframe

In [110]:
PrimaryHealthDF   = [AreaCovereddf,VillageCovereddf,RuralPopCovereddf,AlloDocPHCSdf,DisSubdisDocdf,PhysicianCHCSdf,SurgeonCHCSdf,RadiographerCHCSdf,FunctioningPHCSdf,FunctioningCHCSdf,FunctioningSubcendf,WorkersSubCen,AssistantPHCS,NurseStaffPHCCHCdf,FacilitiesCHCSFdf,FacilitiesPHCSdf,InfantMorRatedf,PharmacistPHCCHCdf,FuctioningPHCSdf]
PrimaryHealth     =  reduce(lambda left,right: pd.merge(left,right, on=['State/ UT']),PrimaryHealthDF)
PrimaryHealth['State/ UT'] = PrimaryHealth['State/ UT'].str.upper()
PrimaryHealth.replace('A & N ISLAND','ANDAMAN & NICOBAR ISLANDS',inplace=True)
PrimaryHealth.replace('DELHI','NCT OF DELHI',inplace=True)
PrimaryHealth  = PrimaryHealth.rename(index=str, columns={'State/ UT':'name'})
PrimaryHealth.head()

,name,Rural_Area[Sq. Km.]_Sub Centre,Rural_AreaArea[Sq. Km.]_PHCS,Rural_AreaArea[Sq. Km.]_CHCS,Rural_Rdistance[Kms]_Sub Centre,Rural_Rdistance[Kms]_PHCS,Rural_Rdistance[Kms]_CHCS,Villages Covered_Sub Centre,Villages Covered_PHCS,Villages Covered_CHCS,...,Pharmacist_PHCS_CHCS_Required,Pharmacist_PHCS_CHCS_Available,PHCS_Functioning_With 4+ doctors,PHCS_Functioning_With 3 doctors,PHCS_Functioning_With 2 doctors,PHCS_Functioning_With 1 doctor,PHCS_Functioning_Without doctor,PHCS_Functioning_Without lab tech,PHCS_Functioning_Without pharma,PHCS_Functioning_Without lady doctor
0,ANDHRA PRADESH,21.0,138.0,823.0,3.0,7.0,16.0,2,15,88.0,...,1340,994,11,31,476,629,0,364,329,518
1,ARUNACHAL PRADESH,NaN,NaN,NaN,NaN,NaN,NaN,18,39,89.0,...,206,89,3,6,27,81,40,55,55,36
2,ASSAM,7.0,31.0,200.0,1.0,3.0,8.0,6,26,167.0,...,1172,1384,67,63,182,626,76,87,110,183
3,BIHAR,9.0,48.0,612.0,2.0,4.0,14.0,5,24,299.0,...,2049,287,439,41,56,1363,0,256,201,156
4,CHHATTISGARH,25.0,168.0,781.0,3.0,7.0,16.0,4,26,119.0,...,954,887,0,6,71,318,390,303,185,66

# Primary health imputed dataframe

In [111]:
PrimaryHealthImp = PrimaryHealth.fillna(method = 'bfill', axis=0).fillna(0)
PrimaryHealthImp.head()

,name,Rural_Area[Sq. Km.]_Sub Centre,Rural_AreaArea[Sq. Km.]_PHCS,Rural_AreaArea[Sq. Km.]_CHCS,Rural_Rdistance[Kms]_Sub Centre,Rural_Rdistance[Kms]_PHCS,Rural_Rdistance[Kms]_CHCS,Villages Covered_Sub Centre,Villages Covered_PHCS,Villages Covered_CHCS,...,Pharmacist_PHCS_CHCS_Required,Pharmacist_PHCS_CHCS_Available,PHCS_Functioning_With 4+ doctors,PHCS_Functioning_With 3 doctors,PHCS_Functioning_With 2 doctors,PHCS_Functioning_With 1 doctor,PHCS_Functioning_Without doctor,PHCS_Functioning_Without lab tech,PHCS_Functioning_Without pharma,PHCS_Functioning_Without lady doctor
0,ANDHRA PRADESH,21.0,138.0,823.0,3.0,7.0,16.0,2,15,88.0,...,1340,994,11,31,476,629,0,364,329,518
1,ARUNACHAL PRADESH,7.0,31.0,200.0,1.0,3.0,8.0,18,39,89.0,...,206,89,3,6,27,81,40,55,55,36
2,ASSAM,7.0,31.0,200.0,1.0,3.0,8.0,6,26,167.0,...,1172,1384,67,63,182,626,76,87,110,183
3,BIHAR,9.0,48.0,612.0,2.0,4.0,14.0,5,24,299.0,...,2049,287,439,41,56,1363,0,256,201,156
4,CHHATTISGARH,25.0,168.0,781.0,3.0,7.0,16.0,4,26,119.0,...,954,887,0,6,71,318,390,303,185,66

# Primary health functions

In [112]:
# Geo code and geo level
geography = pd.read_csv('data/geography.csv',encoding='UTF-8')
geo = geography[['geo_level','geo_code','name']]

# Calculating country data
def setCountryData(df,cols):
    for x in cols:
         df.loc[df['geo_level'] == 'country', x]= df.loc[df['geo_level'] == 'state', x].sum()
    return df;

def getHealthGeo(df):
    dfgeo = geo.merge(df ,on=['name'],how='left')
    cols = list(df.columns.values)[1:]
    dfgeoCountry = setCountryData(dfgeo,cols)
    return dfgeoCountry;

def getHealthCensus(df,varname):
    dfgeo = getHealthGeo(df)
    dfgeo = dfgeo.fillna(0)
    dfgeoFinal = pd.melt(dfgeo, id_vars=['geo_level', 'geo_code','name'], var_name=varname, value_name="total")
    dfgeoFinal = dfgeoFinal.sort_values(by=['geo_level','name']).reset_index().drop(['index'],axis=1).drop(['name'],axis=1)
    dfgeoFinal['total'] = dfgeoFinal['total'].astype(int)
    return dfgeoFinal

# Primary health data wazimap manipulation

# PHCS functioning yearly

In [113]:
PHCSyearlyfun = PrimaryHealthImp[['name','PHCS_1981-85','PHCS_1985-90','PHCS_1992-97','PHCS_1997-2002','PHCS_2002-07','PHCS_2007-12','PHCS_2012-17']]
PHCSyearlyfundf = getHealthCensus(PHCSyearlyfun,'phcsfunctioning')
PHCSyearlyfundf['phcsfunctioning'] = PHCSyearlyfundf['phcsfunctioning'].str.split('_').str[1]
PHCSyearlyfundf.replace('1997-2002','1997-02',inplace=True)
PHCSyearlyfundf.head()
#PHCSyearlyfundf.to_csv('data/phcsfunctioning.csv', index=False)

  geo_level geo_code phcsfunctioning  total
0   country       IN         1981-85  10694
1   country       IN         1985-90  22879
2   country       IN         1992-97  27583
3   country       IN         1997-02  28436
4   country       IN         2002-07  22445

# CHCS functioning yearly

In [114]:
CHCSyearlyfun   = PrimaryHealthImp[['name','CHCS_1981-85','CHCS_1985-90','CHCS_1992-97','CHCS_1997-2002','CHCS_2002-07','CHCS_2007-12','CHCS_2012-17']]
CHCSyearlyfundf = getHealthCensus(CHCSyearlyfun,'chcsfunctioning')
CHCSyearlyfundf['chcsfunctioning'] = CHCSyearlyfundf['chcsfunctioning'].str.split('_').str[1]
CHCSyearlyfundf.replace('1997-2002','1997-02',inplace=True)
CHCSyearlyfundf.head()
#CHCSyearlyfundf.to_csv('data/chcsfunctioning.csv', index=False)

  geo_level geo_code chcsfunctioning  total
0   country       IN         1981-85    939
1   country       IN         1985-90   2256
2   country       IN         1992-97   3153
3   country       IN         1997-02   3629
4   country       IN         2002-07   4055

# Subcentre functioning yearly

In [115]:
Subcenyearlyfun   = PrimaryHealthImp[['name','SubCentre_1981-85','SubCentre_1985-90','SubCentre_1992-97','SubCentre_1997-2002','SubCentre_2002-07','SubCentre_2007-12','SubCentre_2012-17']]
Subcenyearlyfundf = getHealthCensus(Subcenyearlyfun,'subcenfunctioning')
Subcenyearlyfundf['subcenfunctioning'] = Subcenyearlyfundf['subcenfunctioning'].str.split('_').str[1]
Subcenyearlyfundf.replace('1997-2002','1997-02',inplace=True)
Subcenyearlyfundf.head()
#Subcenyearlyfundf.to_csv('data/subcenfunctioning.csv', index=False)

  geo_level geo_code subcenfunctioning   total
0   country       IN           1981-85  105379
1   country       IN           1985-90  158783
2   country       IN           1992-97  165263
3   country       IN           1997-02  166318
4   country       IN           2002-07  145851

# Villages covered by centres

In [116]:
VillCovCen   = PrimaryHealthImp[['name','Villages Covered_Sub Centre','Villages Covered_PHCS','Villages Covered_CHCS']]
VillCovCendf = getHealthCensus(VillCovCen,'villagescovered')
VillCovCendf['villagescovered'] = VillCovCendf['villagescovered'].str.split('_').str[1]
VillCovCendf.head()
#VillCovCendf.to_csv('data/villagescovered.csv', index=False)

  geo_level geo_code villagescovered  total
0   country       IN      Sub Centre    165
1   country       IN            PHCS    888
2   country       IN            CHCS   3876
3  district      532      Sub Centre      0
4  district      532            PHCS      0

#  Rural population covered by centres

In [117]:
RuralPopCov = PrimaryHealthImp[['name','PopulationR_Covered_Sub Centre','PopulationR_Covered_PHCS','PopulationR_Covered_CHCS']]
RuralPopCovdf = getHealthCensus(RuralPopCov,'ruralpopcovered')
RuralPopCovdf['ruralpopcovered'] = RuralPopCovdf['ruralpopcovered'].str.split('_').str[2]
RuralPopCovdf.head()
#RuralPopCovdf.to_csv('data/ruralpopcovered.csv', index=False)

  geo_level geo_code ruralpopcovered    total
0   country       IN      Sub Centre   189274
1   country       IN            PHCS  1012714
2   country       IN            CHCS  4451051
3  district      532      Sub Centre        0
4  district      532            PHCS        0

# Allopathic doctors in PHCs

In [118]:
AlloDocPHCS = PrimaryHealthImp[['name','Allopathic doctor_PHCS_Required','Allopathic doctor_PHCS_Available']]
AlloDocPHCSdf = getHealthCensus(AlloDocPHCS,'allopathicdocphcs')
AlloDocPHCSdf['allopathicdocphcs'] = AlloDocPHCSdf['allopathicdocphcs'].str.split('_').str[2]
AlloDocPHCSdf.head()
#AlloDocPHCSdf.to_csv('data/allopathicdocphcs.csv', index=False)

  geo_level geo_code allopathicdocphcs  total
0   country       IN          Required  25650
1   country       IN         Available  27124
2  district      532          Required      0
3  district      532         Available      0
4  district      146          Required      0

# Dis and sub-dis doctors

In [119]:
DisSubDoc = PrimaryHealthImp[['name','Doctors_District Hospital','Doctors_Sub District Hospital']]
DisSubDocdf  = getHealthCensus(DisSubDoc,'doctorsdissubhospital')
DisSubDocdf['doctorsdissubhospital'] = DisSubDocdf['doctorsdissubhospital'].str.split('_').str[1]
DisSubDocdf.head()
#DisSubDocdf.to_csv('data/doctorsdissubhospital.csv', index=False)

  geo_level geo_code  doctorsdissubhospital  total
0   country       IN      District Hospital  20862
1   country       IN  Sub District Hospital  13548
2  district      532      District Hospital      0
3  district      532  Sub District Hospital      0
4  district      146      District Hospital      0

# Physicians in CHCs

In [120]:
PhyCHCS = PrimaryHealthImp[['name','Physician_Required_CHCS','Physician_Available_CHCS']]
PhyCHCSdf = getHealthCensus(PhyCHCS,'physicianchcs')
PhyCHCSdf['physicianchcs'] = PhyCHCSdf['physicianchcs'].str.split('_').str[1]
PhyCHCSdf.head()
#PhyCHCSdf.to_csv('data/physicianchcs.csv', index=False)

  geo_level geo_code physicianchcs  total
0   country       IN      Required   5624
1   country       IN     Available    864
2  district      532      Required      0
3  district      532     Available      0
4  district      146      Required      0

# Surgeons in CHCS

In [121]:
SurCHCS    = PrimaryHealthImp[['name','Surgeon_Required_CHCS','Surgeon_Available_CHCS']]
SurCHCSdf  = getHealthCensus(SurCHCS,'surgeonchcs')
SurCHCSdf['surgeonchcs'] = SurCHCSdf['surgeonchcs'].str.split('_').str[1]
SurCHCSdf.head()
#SurCHCSdf.to_csv('data/surgeonchcs.csv', index=False)

  geo_level geo_code surgeonchcs  total
0   country       IN    Required   5624
1   country       IN   Available    758
2  district      532    Required      0
3  district      532   Available      0
4  district      146    Required      0

# Radiographer in CHCS

In [122]:
RadioCHCS   = PrimaryHealthImp[['name','Radiographer_Required_CHCS','Radiographer_Available_CHCS']]
RadioCHCSdf = getHealthCensus(RadioCHCS,'radiographerchcs')
RadioCHCSdf['radiographerchcs'] = RadioCHCSdf['radiographerchcs'].str.split('_').str[1]
RadioCHCSdf.head()
#RadioCHCSdf.to_csv('data/radiographerchcs.csv', index=False)

  geo_level geo_code radiographerchcs  total
0   country       IN         Required   5624
1   country       IN        Available   2129
2  district      532         Required      0
3  district      532        Available      0
4  district      146         Required      0

# Workers at subcentre

In [123]:
WorSubC     = PrimaryHealthImp[['name','Workers_Required_SubCen_Male','Workers_Available_SuBCen_Male','Workers_Required_SubCen_Female','Workers_Available_SuBCen_Female']]
WorSubCdf   = getHealthCensus(WorSubC,'workers')
WorSubCdf['workersubcentre'] =  WorSubCdf['workers'].str.split('_').str[1]
WorSubCdf['gender']          =  WorSubCdf['workers'].str.split('_').str[3]
WorSubCdfFinal = WorSubCdf[['geo_level','geo_code','workersubcentre','gender','total']]
WorSubCdfFinal.head()
#WorSubCdfFinal.to_csv('data/workersubcentre_gender.csv', index=False)

  geo_level geo_code workersubcentre  gender   total
0   country       IN        Required    Male  156231
1   country       IN       Available    Male   59880
2   country       IN        Required  Female  156231
3   country       IN       Available  Female  198356
4  district      532        Required    Male       0

# Assistant at PHCS

In [124]:
AssisPHCS   =  PrimaryHealthImp[['name','Assistant_Required_PHCS_Male','Assistant_Available_PHCS_Male','Assistant_Required_PHCS_Female','Assistant_Available_PHCS_Female']]
AssisPHCSdf   = getHealthCensus(AssisPHCS,'assistant')
AssisPHCSdf['assistantphcs']   =  AssisPHCSdf['assistant'].str.split('_').str[1]
AssisPHCSdf['gender']          =  AssisPHCSdf['assistant'].str.split('_').str[3]
AssisPHCSdfFinal = AssisPHCSdf[['geo_level','geo_code','assistantphcs','gender','total']]
AssisPHCSdfFinal.head()
#AssisPHCSdfFinal.to_csv('data/assistantphcs_gender.csv', index=False)

  geo_level geo_code assistantphcs  gender  total
0   country       IN      Required    Male  25650
1   country       IN     Available    Male  12288
2   country       IN      Required  Female  25650
3   country       IN     Available  Female  14267
4  district      532      Required    Male      0

# Nursing staff at PHCS and CHCS

In [125]:
Nursingstaffphcchcs   = PrimaryHealthImp[['name','NurseStaff_Required_PHCS_CHCS','NurseStaff_Available_PHCS_CHCS']]
Nursingstaffphcchcsdf = getHealthCensus(Nursingstaffphcchcs,'nursestaffphcschcs')
Nursingstaffphcchcsdf['nursestaffphcschcs'] = Nursingstaffphcchcsdf['nursestaffphcschcs'].str.split('_').str[1]
Nursingstaffphcchcsdf.head()
#Nursingstaffphcchcsdf.to_csv('data/nursestaffphcschcs.csv', index=False)

  geo_level geo_code nursestaffphcschcs  total
0   country       IN           Required  65018
1   country       IN          Available  70738
2  district      532           Required      0
3  district      532          Available      0
4  district      146           Required      0

# CHCS facilities

In [126]:
FacilitiiesCHCS   = PrimaryHealthImp[['name','Facilities_CHCS_Min 30 beds','Facilities_CHCS_Laboratory','Facilities_CHCS_O.T','Facilities_CHCS_Labor Room','Facilities_CHCS_New Born Care Corner','Facilities_CHCS_X-ray','Facilities_CHCS_Specialist Doctors Quarter','Facilities_CHCS_Referral Transport','Facilities_CHCS_Allopatic Drugs','Facilities_CHCS_Ayush Drugs']]
FacilitiiesCHCSdf = getHealthCensus(FacilitiiesCHCS,'facilitieschcs')
FacilitiiesCHCSdf['facilitieschcs'] = FacilitiiesCHCSdf['facilitieschcs'].str.split('_').str[2]
FacilitiiesCHCSdf.head()
#FacilitiiesCHCSdf.to_csv('data/facilitieschcs.csv', index=False)

  geo_level geo_code        facilitieschcs  total
0   country       IN           Min 30 beds   4083
1   country       IN            Laboratory   5303
2   country       IN                   O.T   4696
3   country       IN            Labor Room   5186
4   country       IN  New Born Care Corner   4722

# PHCS facilities

In [127]:
FacilitiesPHCS   =  PrimaryHealthImp[['name','Facilities_PHCS_Labour Room','Facilities_PHCS_OT','Facilities_PHCS_Min 4 Beds','Facilities_PHCS_Telephone','Facilities_PHCS_Computer','Facilities_PHCS_Referral Transport']]
FacilitiesPHCSdf = getHealthCensus(FacilitiesPHCS,'facilitiesphcs')
FacilitiesPHCSdf['facilitiesphcs'] = FacilitiesPHCSdf['facilitiesphcs'].str.split('_').str[2]
FacilitiesPHCSdf.head()
#FacilitiesPHCSdf.to_csv('data/facilitiesphcs.csv', index=False)

  geo_level geo_code facilitiesphcs  total
0   country       IN    Labour Room  17688
1   country       IN             OT   9422
2   country       IN     Min 4 Beds  19559
3   country       IN      Telephone  13918
4   country       IN       Computer  16688

# Pharmacist in PHCS and CHCS

In [128]:
PharmaPHCCHC   = PrimaryHealthImp[['name','Pharmacist_PHCS_CHCS_Required','Pharmacist_PHCS_CHCS_Available']]
PharmaPHCCHCdf = getHealthCensus(PharmaPHCCHC,'pharmacistphcschcs')
PharmaPHCCHCdf['pharmacistphcschcs'] = PharmaPHCCHCdf['pharmacistphcschcs'].str.split('_').str[3]
PharmaPHCCHCdf.head()
#PharmaPHCCHCdf.to_csv('data/pharmacistphcschcs.csv', index=False)

  geo_level geo_code pharmacistphcschcs  total
0   country       IN           Required  31274
1   country       IN          Available  25193
2  district      532           Required      0
3  district      532          Available      0
4  district      146           Required      0

# PHCS functioning

In [129]:
FuncPHCS   =  PrimaryHealthImp[['name','PHCS_Functioning_With 4+ doctors','PHCS_Functioning_With 3 doctors','PHCS_Functioning_With 2 doctors','PHCS_Functioning_With 1 doctor','PHCS_Functioning_Without doctor','PHCS_Functioning_Without lab tech','PHCS_Functioning_Without pharma','PHCS_Functioning_Without lady doctor']]
FuncPHCSdf = getHealthCensus(FuncPHCS,'phcsfuctioning')
FuncPHCSdf['phcsfuctioning'] = FuncPHCSdf['phcsfuctioning'].str.split('_').str[2]
FuncPHCSdf.head()
#FuncPHCSdf.to_csv('data/phcsfuctioning.csv', index=False)

  geo_level geo_code   phcsfuctioning  total
0   country       IN  With 4+ doctors    958
1   country       IN   With 3 doctors    752
2   country       IN   With 2 doctors   6305
3   country       IN    With 1 doctor  15700
4   country       IN   Without doctor   1974

# District wise health care centres

In [130]:
def getDisGeoData(df):
    cols = list(df.columns.values)[2:]
    df = df.replace(',','',regex=True)
    df[cols] = df[cols].astype(float)
    dfState = df.groupby(['name'])[cols].sum().reset_index()
   
    dfDis   = df.groupby(['DW_District'])[cols].sum().reset_index()
    dfDis   = dfDis.rename(index=str, columns={'DW_District': 'name'})
    dfDis['name'] = dfDis['name'].str.title()
    
    dfCom = pd.concat([dfState, dfDis])
    dfgeo = geo.merge(dfCom ,on=['name'],how='left')
    dfgeo = dfgeo.sort_values(by=['geo_level','name'])
    dfgeo = dfgeo.fillna(method = 'bfill', axis=0).fillna(0)
    dfgeoCountry = setCountryData(dfgeo,cols)
    return dfgeoCountry

DWHealthCareCenGeo = getDisGeoData(DWHealthCareCendf)
DWHealthCareCenFinal = pd.melt(DWHealthCareCenGeo, id_vars=['geo_level', 'geo_code','name'], var_name='healthcares', value_name="total")
DWHealthCareCenFinal = DWHealthCareCenFinal.sort_values(by=['geo_level','name']).reset_index().drop(['index'],axis=1).drop(['name'],axis=1)
DWHealthCareCenFinal['total'] = DWHealthCareCenFinal['total'].astype(int)
DWHealthCareCenFinal['healthcares'] = DWHealthCareCenFinal['healthcares'].str.split('_').str[1]
DWHealthCareCenFinal

#DWHealthCareCenFinal.to_csv('data/healthcarecentre.csv', index=False)

  geo_level geo_code              healthcares   total
0   country       IN              Sub Centres  156500
1   country       IN                     PHCs   26123
2   country       IN                     CHCs    5625
3   country       IN  Sub Divisional Hospital    1108
4   country       IN        District Hospital     779